<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.auth.realize.mapper.TestMapper">

  <resultMap id="BaseResultMap" type="com.qlhx.auth.realize.bean.Test">
    <result column="name" property="name" />
    <result column="age" property="age" />
  </resultMap>

  <sql id="Blob_Column_List">
    name,age
  </sql>


  <insert id="insert" parameterType="com.qlhx.auth.realize.bean.Test">
    INSERT INTO test (name,age) values(#{name,jdbcType=VARCHAR},#{age,jdbcType=BIGINT})
  </insert>

  <select id="find" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT  *
    FROM  test
    <where>
      <if test="name != null">
        AND
        name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="age != null">
        AND
        age = #{age,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  
</mapper>