<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.KeyMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.Key">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key_name" jdbcType="VARCHAR" property="keyName" />
    <result column="biometrics" jdbcType="CHAR" property="biometrics" />
    <result column="card" jdbcType="CHAR" property="card" />
    <result column="key_describe" jdbcType="VARCHAR" property="keyDescribe" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, key_name, biometrics, card, key_describe, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from control_key
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from control_key
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.Key">
    insert into control_key (id, key_name, biometrics, 
      card, key_describe, createDate
      )
    values (#{id,jdbcType=INTEGER}, #{keyName,jdbcType=VARCHAR}, #{biometrics,jdbcType=CHAR}, 
      #{card,jdbcType=CHAR}, #{keyDescribe,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.Key">
    insert into control_key
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="keyName != null">
        key_name,
      </if>
      <if test="biometrics != null">
        biometrics,
      </if>
      <if test="card != null">
        card,
      </if>
      <if test="keyDescribe != null">
        key_describe,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="keyName != null">
        #{keyName,jdbcType=VARCHAR},
      </if>
      <if test="biometrics != null">
        #{biometrics,jdbcType=CHAR},
      </if>
      <if test="card != null">
        #{card,jdbcType=CHAR},
      </if>
      <if test="keyDescribe != null">
        #{keyDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.Key">
    update control_key
    <set>
      <if test="keyName != null">
        key_name = #{keyName,jdbcType=VARCHAR},
      </if>
      <if test="biometrics != null">
        biometrics = #{biometrics,jdbcType=CHAR},
      </if>
      <if test="card != null">
        card = #{card,jdbcType=CHAR},
      </if>
      <if test="keyDescribe != null">
        key_describe = #{keyDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.Key">
    update control_key
    set key_name = #{keyName,jdbcType=VARCHAR},
      biometrics = #{biometrics,jdbcType=CHAR},
      card = #{card,jdbcType=CHAR},
      key_describe = #{keyDescribe,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="list" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from control_key
    order by id desc
  </select>
</mapper>