<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.PathMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.Path">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="path_name" jdbcType="VARCHAR" property="pathName" />
    <result column="path_describe" jdbcType="VARCHAR" property="pathDescribe" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, path_name, path_describe, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from control_path
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from control_path
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.Path">
    insert into control_path (id, path_name, path_describe, 
      createDate)
    values (#{id,jdbcType=INTEGER}, #{pathName,jdbcType=VARCHAR}, #{pathDescribe,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.Path">
    insert into control_path
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pathName != null">
        path_name,
      </if>
      <if test="pathDescribe != null">
        path_describe,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pathName != null">
        #{pathName,jdbcType=VARCHAR},
      </if>
      <if test="pathDescribe != null">
        #{pathDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.Path">
    update control_path
    <set>
      <if test="pathName != null">
        path_name = #{pathName,jdbcType=VARCHAR},
      </if>
      <if test="pathDescribe != null">
        path_describe = #{pathDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.Path">
    update control_path
    set path_name = #{pathName,jdbcType=VARCHAR},
      path_describe = #{pathDescribe,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="list"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from control_path
    order by id desc
  </select>
</mapper>