<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.PathDetailMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.PathDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="path_id" jdbcType="VARCHAR" property="pathId" />
    <result column="device_identifier" jdbcType="VARCHAR" property="deviceIdentifier" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="in_or_out" jdbcType="INTEGER" property="inOrOut" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, path_id, device_identifier, device_name, in_or_out, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from control_path_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from control_path_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.PathDetail">
    insert into control_path_detail (id, path_id, device_identifier, 
      device_name, in_or_out, createDate
      )
    values (#{id,jdbcType=INTEGER}, #{pathId,jdbcType=VARCHAR}, #{deviceIdentifier,jdbcType=VARCHAR}, 
      #{deviceName,jdbcType=VARCHAR}, #{inOrOut,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.PathDetail">
    insert into control_path_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pathId != null">
        path_id,
      </if>
      <if test="deviceIdentifier != null">
        device_identifier,
      </if>
      <if test="deviceName != null">
        device_name,
      </if>
      <if test="inOrOut != null">
        in_or_out,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pathId != null">
        #{pathId,jdbcType=VARCHAR},
      </if>
      <if test="deviceIdentifier != null">
        #{deviceIdentifier,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="inOrOut != null">
        #{inOrOut,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.PathDetail">
    update control_path_detail
    <set>
      <if test="pathId != null">
        path_id = #{pathId,jdbcType=VARCHAR},
      </if>
      <if test="deviceIdentifier != null">
        device_identifier = #{deviceIdentifier,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="inOrOut != null">
        in_or_out = #{inOrOut,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.PathDetail">
    update control_path_detail
    set path_id = #{pathId,jdbcType=VARCHAR},
      device_identifier = #{deviceIdentifier,jdbcType=VARCHAR},
      device_name = #{deviceName,jdbcType=VARCHAR},
      in_or_out = #{inOrOut,jdbcType=INTEGER},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="list"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from control_path_detail
    where path_id = #{pathId}
    order by id desc
  </select>
</mapper>