<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.PersonGroupMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.PersonGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_identifier" jdbcType="VARCHAR" property="groupIdentifier" />
    <result column="key_id" jdbcType="INTEGER" property="keyId" />
    <result column="rule_id" jdbcType="INTEGER" property="ruleId" />
    <result column="path_id" jdbcType="INTEGER" property="pathId" />
    <result column="group_describe" jdbcType="VARCHAR" property="groupDescribe" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  
  <resultMap id="ViewMap" type="com.qlhx.model.PersonGroupImpl" extends="BaseResultMap">
    <result column="key_name" property="keyName" jdbcType="VARCHAR" />
    <result column="rule_name" property="ruleName" jdbcType="VARCHAR" />
    <result column="path_name" property="pathName" jdbcType="VARCHAR" />
 </resultMap>


  <sql id="Base_Column_List">
    id, group_name, group_identifier,key_id, rule_id, path_id, group_describe, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from control_person_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from control_person_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.PersonGroup">
    insert into control_person_group (id, group_name, key_id, 
      rule_id, path_id, group_describe, 
      createDate)
    values (#{id,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, #{keyId,jdbcType=INTEGER}, 
      #{ruleId,jdbcType=INTEGER}, #{pathId,jdbcType=INTEGER}, #{groupDescribe,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.PersonGroup">
    insert into control_person_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="groupIdentifier != null">
        group_identifier,
      </if>
      <if test="keyId != null">
        key_id,
      </if>
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="pathId != null">
        path_id,
      </if>
      <if test="groupDescribe != null">
        group_describe,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupIdentifier != null">
        #{groupIdentifier,jdbcType=VARCHAR},
      </if>
      <if test="keyId != null">
        #{keyId,jdbcType=INTEGER},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="pathId != null">
        #{pathId,jdbcType=INTEGER},
      </if>
      <if test="groupDescribe != null">
        #{groupDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.PersonGroup">
    update control_person_group
    <set>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="keyId != null">
        key_id = #{keyId,jdbcType=INTEGER},
      </if>
      <if test="ruleId != null">
        rule_id = #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="pathId != null">
        path_id = #{pathId,jdbcType=INTEGER},
      </if>
      <if test="groupDescribe != null">
        group_describe = #{groupDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.PersonGroup">
    update control_person_group
    set group_name = #{groupName,jdbcType=VARCHAR},
      key_id = #{keyId,jdbcType=INTEGER},
      rule_id = #{ruleId,jdbcType=INTEGER},
      path_id = #{pathId,jdbcType=INTEGER},
      group_describe = #{groupDescribe,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="list"  resultMap="ViewMap">
    select 
    <include refid="Base_Column_List" />
    ,
    (select key_name from control_key where id = key_id) key_name,
    (select rule_name from control_rule where id = rule_id) rule_name,
    (select path_name from control_path where id = path_id) path_name
    from control_person_group
    order by id desc
  </select>
  
  <select id="selectByIdentifier"  resultMap="ViewMap">
    select 
    <include refid="Base_Column_List" />
    ,
    (select key_name from control_key where id = key_id) key_name,
    (select rule_name from control_rule where id = rule_id) rule_name,
    (select path_name from control_path where id = path_id) path_name
    from control_person_group 
    where group_identifier = #{identifier}

  </select>
</mapper>