<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.BaseBlacklistShareMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.BaseBlacklistShare">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="idnum" jdbcType="VARCHAR" property="idnum" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="issuing" jdbcType="VARCHAR" property="issuing" />
    <result column="validityDatestart" jdbcType="DATE" property="validitydatestart" />
    <result column="validityDateEnd" jdbcType="VARCHAR" property="validitydateend" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="pinYin" jdbcType="VARCHAR" property="pinyin" />
    <result column="isDel" jdbcType="SMALLINT" property="isdel" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="tabTime" jdbcType="TIMESTAMP" property="tabtime" />
    <result column="uploadTime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="companyCode" jdbcType="VARCHAR" property="companycode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, idnum, name, sex, nation, birthday, address, photo, issuing, validityDatestart, 
    validityDateEnd, phone, pinYin, isDel, reason, source, createDate, updateDate, tabTime, 
    uploadTime, companyCode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_blacklist_share
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_blacklist_share
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.BaseBlacklistShare">
    insert into base_blacklist_share (id, idnum, name, 
      sex, nation, birthday, 
      address, photo, issuing, 
      validityDatestart, validityDateEnd, phone, 
      pinYin, isDel, reason, 
      source, createDate, updateDate, 
      tabTime, uploadTime, companyCode
      )
    values (#{id,jdbcType=BIGINT}, #{idnum,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{address,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{issuing,jdbcType=VARCHAR}, 
      #{validitydatestart,jdbcType=DATE}, #{validitydateend,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{pinyin,jdbcType=VARCHAR}, #{isdel,jdbcType=SMALLINT}, #{reason,jdbcType=VARCHAR}, 
      #{source,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{updatedate,jdbcType=TIMESTAMP}, 
      #{tabtime,jdbcType=TIMESTAMP}, #{uploadtime,jdbcType=TIMESTAMP}, #{companycode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.BaseBlacklistShare">
    insert into base_blacklist_share
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="idnum != null">
        idnum,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="issuing != null">
        issuing,
      </if>
      <if test="validitydatestart != null">
        validityDatestart,
      </if>
      <if test="validitydateend != null">
        validityDateEnd,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="pinyin != null">
        pinYin,
      </if>
      <if test="isdel != null">
        isDel,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="source != null">
        source,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="updatedate != null">
        updateDate,
      </if>
      <if test="tabtime != null">
        tabTime,
      </if>
      <if test="uploadtime != null">
        uploadTime,
      </if>
      <if test="companycode != null">
        companyCode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="idnum != null">
        #{idnum,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="issuing != null">
        #{issuing,jdbcType=VARCHAR},
      </if>
      <if test="validitydatestart != null">
        #{validitydatestart,jdbcType=DATE},
      </if>
      <if test="validitydateend != null">
        #{validitydateend,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null">
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=SMALLINT},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="tabtime != null">
        #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="companycode != null">
        #{companycode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.BaseBlacklistShare">
    update base_blacklist_share
    <set>
      <if test="idnum != null">
        idnum = #{idnum,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="issuing != null">
        issuing = #{issuing,jdbcType=VARCHAR},
      </if>
      <if test="validitydatestart != null">
        validityDatestart = #{validitydatestart,jdbcType=DATE},
      </if>
      <if test="validitydateend != null">
        validityDateEnd = #{validitydateend,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null">
        pinYin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        isDel = #{isdel,jdbcType=SMALLINT},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null">
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="tabtime != null">
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="companycode != null">
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.BaseBlacklistShare">
    update base_blacklist_share
    set idnum = #{idnum,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      issuing = #{issuing,jdbcType=VARCHAR},
      validityDatestart = #{validitydatestart,jdbcType=DATE},
      validityDateEnd = #{validitydateend,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      pinYin = #{pinyin,jdbcType=VARCHAR},
      isDel = #{isdel,jdbcType=SMALLINT},
      reason = #{reason,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      updateDate = #{updatedate,jdbcType=TIMESTAMP},
      tabTime = #{tabtime,jdbcType=TIMESTAMP},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      companyCode = #{companycode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>