<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.service.base.realize.mapper.BaseAccessRecordMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.service.base.realize.model.BaseAccessRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parentID" jdbcType="INTEGER" property="parentid" />
    <result column="rCode" jdbcType="VARCHAR" property="rcode" />
    <result column="vID" jdbcType="INTEGER" property="vid" />
    <result column="uID" jdbcType="INTEGER" property="uid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="logOffTime" jdbcType="TIMESTAMP" property="logofftime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="reasons" jdbcType="VARCHAR" property="reasons" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="isPrintVoucher" jdbcType="INTEGER" property="isprintvoucher" />
    <result column="isPullCard" jdbcType="INTEGER" property="ispullcard" />
    <result column="cardType" jdbcType="INTEGER" property="cardtype" />
    <result column="CardNum" jdbcType="VARCHAR" property="cardnum" />
    <result column="sitePhoto" jdbcType="VARCHAR" property="sitephoto" />
    <result column="isUpload" jdbcType="INTEGER" property="isupload" />
    <result column="yyID" jdbcType="INTEGER" property="yyid" />
    <result column="companyCode" jdbcType="VARCHAR" property="companycode" />
    <result column="terminalCode" jdbcType="VARCHAR" property="terminalcode" />
    <result column="zhuxiaoTerminalCode" jdbcType="VARCHAR" property="zhuxiaoterminalcode" />
    <result column="terminalManagerId" jdbcType="INTEGER" property="terminalmanagerid" />
    <result column="zhuxiaoManagerId" jdbcType="INTEGER" property="zhuxiaomanagerid" />
    <result column="tabTime" jdbcType="TIMESTAMP" property="tabtime" />
    <result column="uploadTime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="syncId" jdbcType="VARCHAR" property="syncid" />
    <result column="vname" jdbcType="VARCHAR" property="vname" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
  </resultMap>
  
  <resultMap id="ResultAccessRecord" type="com.qlhx.service.base.realize.model.BaseAccessRecord"
		extends="BaseResultMap">
		
		<association property="visitor" column="vID"
                     javaType="com.qlhx.service.base.realize.model.BaseVisitor" select="com.qlhx.dao.BaseVisitorMapper.selectByPrimaryKey">
		</association>
		
		<association property="user" column="uID" javaType="com.qlhx.service.base.realize.model.BaseMember"
		    select="com.qlhx.dao.BaseMemberMapper.selectByPrimaryKey">
			<id column="id" property="id" jdbcType="BIGINT" />
			<result column="nickname" property="nickname" jdbcType="VARCHAR" />
			<result column="sex" property="sex" jdbcType="INTEGER" />
			<result column="nation" property="nation" jdbcType="INTEGER" />
			<result column="depID" property="depID" jdbcType="INTEGER" />
			<result column="syncId" property="syncId" jdbcType="INTEGER" />
		</association>
		
  </resultMap>

    <!-- 查询当天放出出入人数 -->
    <select id="findTodayIntoAndOutNum" resultType="java.util.Map">
		SELECT SUM(CASE
		WHEN status=0 THEN 1 ELSE 0 END) intoNum,SUM(CASE WHEN status in (1,2)
		THEN 1 ELSE 0 END) outNum
		FROM base_access_record WHERE
		DATE_FORMAT(startTime,'%Y-%m-%d') = #{date}
	</select>




    <select id="findLastAccessRecordByIdNum" resultMap="ResultAccessRecord">
		SELECT * FROM
		base_access_record WHERE vID in(SELECT id FROM base_visitor WHERE
		idNum=#{idNum}) ORDER BY id DESC LIMIT 1
	</select>

    <!-- 门禁卡是否被占用 -->
    <select id="selectByCardNum" resultType="com.qlhx.service.base.realize.model.BaseAccessRecord">
		SELECT * FROM
		base_access_record WHERE CardNum=#{cardNum} AND status=0
	</select>
  
  <sql id="Base_Column_List">
    id, parentID, rCode, vID, uID, createTime, startTime, endTime, logOffTime, status, 
    reasons, unit, num, type, isPrintVoucher, isPullCard, cardType, CardNum, sitePhoto, 
    isUpload, yyID, companyCode, terminalCode, zhuxiaoTerminalCode, terminalManagerId, 
    zhuxiaoManagerId, tabTime, uploadTime, syncId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_access_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from base_access_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.service.base.realize.model.BaseAccessRecord">
    insert into base_access_record (id, parentID, rCode, 
      vID, uID, createTime, 
      startTime, endTime, logOffTime, 
      status, reasons, unit, 
      num, type, isPrintVoucher, 
      isPullCard, cardType, CardNum, 
      sitePhoto, isUpload, yyID, 
      companyCode, terminalCode, zhuxiaoTerminalCode, 
      terminalManagerId, zhuxiaoManagerId, tabTime, 
      uploadTime, syncId)
    values (#{id,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, #{rcode,jdbcType=VARCHAR}, 
      #{vid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{logofftime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{reasons,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{isprintvoucher,jdbcType=INTEGER}, 
      #{ispullcard,jdbcType=INTEGER}, #{cardtype,jdbcType=INTEGER}, #{cardnum,jdbcType=VARCHAR}, 
      #{sitephoto,jdbcType=VARCHAR}, #{isupload,jdbcType=INTEGER}, #{yyid,jdbcType=INTEGER}, 
      #{companycode,jdbcType=VARCHAR}, #{terminalcode,jdbcType=VARCHAR}, #{zhuxiaoterminalcode,jdbcType=VARCHAR}, 
      #{terminalmanagerid,jdbcType=INTEGER}, #{zhuxiaomanagerid,jdbcType=INTEGER}, #{tabtime,jdbcType=TIMESTAMP}, 
      #{uploadtime,jdbcType=TIMESTAMP}, #{syncid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.service.base.realize.model.BaseAccessRecord"
          useGeneratedKeys="true" keyProperty="id">
    insert into base_access_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parentid != null">
        parentID,
      </if>
      <if test="rcode != null">
        rCode,
      </if>
      <if test="vid != null">
        vID,
      </if>
      <if test="uid != null">
        uID,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="logofftime != null">
        logOffTime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="reasons != null">
        reasons,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="isprintvoucher != null">
        isPrintVoucher,
      </if>
      <if test="ispullcard != null">
        isPullCard,
      </if>
      <if test="cardtype != null">
        cardType,
      </if>
      <if test="cardnum != null">
        CardNum,
      </if>
      <if test="sitephoto != null">
        sitePhoto,
      </if>
      <if test="isupload != null">
        isUpload,
      </if>
      <if test="yyid != null">
        yyID,
      </if>
      <if test="companycode != null">
        companyCode,
      </if>
      <if test="terminalcode != null">
        terminalCode,
      </if>
      <if test="zhuxiaoterminalcode != null">
        zhuxiaoTerminalCode,
      </if>
      <if test="terminalmanagerid != null">
        terminalManagerId,
      </if>
      <if test="zhuxiaomanagerid != null">
        zhuxiaoManagerId,
      </if>
      <if test="tabtime != null">
        tabTime,
      </if>
      <if test="uploadtime != null">
        uploadTime,
      </if>
      <if test="syncid != null">
        syncId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="rcode != null">
        #{rcode,jdbcType=VARCHAR},
      </if>
      <if test="vid != null">
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="logofftime != null">
        #{logofftime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="reasons != null">
        #{reasons,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isprintvoucher != null">
        #{isprintvoucher,jdbcType=INTEGER},
      </if>
      <if test="ispullcard != null">
        #{ispullcard,jdbcType=INTEGER},
      </if>
      <if test="cardtype != null">
        #{cardtype,jdbcType=INTEGER},
      </if>
      <if test="cardnum != null">
        #{cardnum,jdbcType=VARCHAR},
      </if>
      <if test="sitephoto != null">
        #{sitephoto,jdbcType=VARCHAR},
      </if>
      <if test="isupload != null">
        #{isupload,jdbcType=INTEGER},
      </if>
      <if test="yyid != null">
        #{yyid,jdbcType=INTEGER},
      </if>
      <if test="companycode != null">
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="terminalcode != null">
        #{terminalcode,jdbcType=VARCHAR},
      </if>
      <if test="zhuxiaoterminalcode != null">
        #{zhuxiaoterminalcode,jdbcType=VARCHAR},
      </if>
      <if test="terminalmanagerid != null">
        #{terminalmanagerid,jdbcType=INTEGER},
      </if>
      <if test="zhuxiaomanagerid != null">
        #{zhuxiaomanagerid,jdbcType=INTEGER},
      </if>
      <if test="tabtime != null">
        #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="syncid != null">
        #{syncid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.service.base.realize.model.BaseAccessRecord">
    update base_access_record
    <set>
      <if test="parentid != null">
        parentID = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="rcode != null">
        rCode = #{rcode,jdbcType=VARCHAR},
      </if>
      <if test="vid != null">
        vID = #{vid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uID = #{uid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="logofftime != null">
        logOffTime = #{logofftime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="reasons != null">
        reasons = #{reasons,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isprintvoucher != null">
        isPrintVoucher = #{isprintvoucher,jdbcType=INTEGER},
      </if>
      <if test="ispullcard != null">
        isPullCard = #{ispullcard,jdbcType=INTEGER},
      </if>
      <if test="cardtype != null">
        cardType = #{cardtype,jdbcType=INTEGER},
      </if>
      <if test="cardnum != null">
        CardNum = #{cardnum,jdbcType=VARCHAR},
      </if>
      <if test="sitephoto != null">
        sitePhoto = #{sitephoto,jdbcType=VARCHAR},
      </if>
      <if test="isupload != null">
        isUpload = #{isupload,jdbcType=INTEGER},
      </if>
      <if test="yyid != null">
        yyID = #{yyid,jdbcType=INTEGER},
      </if>
      <if test="companycode != null">
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="terminalcode != null">
        terminalCode = #{terminalcode,jdbcType=VARCHAR},
      </if>
      <if test="zhuxiaoterminalcode != null">
        zhuxiaoTerminalCode = #{zhuxiaoterminalcode,jdbcType=VARCHAR},
      </if>
      <if test="terminalmanagerid != null">
        terminalManagerId = #{terminalmanagerid,jdbcType=INTEGER},
      </if>
      <if test="zhuxiaomanagerid != null">
        zhuxiaoManagerId = #{zhuxiaomanagerid,jdbcType=INTEGER},
      </if>
      <if test="tabtime != null">
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="syncid != null">
        syncId = #{syncid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.service.base.realize.model.BaseAccessRecord">
    update base_access_record
    set parentID = #{parentid,jdbcType=INTEGER},
      rCode = #{rcode,jdbcType=VARCHAR},
      vID = #{vid,jdbcType=INTEGER},
      uID = #{uid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      logOffTime = #{logofftime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      reasons = #{reasons,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      isPrintVoucher = #{isprintvoucher,jdbcType=INTEGER},
      isPullCard = #{ispullcard,jdbcType=INTEGER},
      cardType = #{cardtype,jdbcType=INTEGER},
      CardNum = #{cardnum,jdbcType=VARCHAR},
      sitePhoto = #{sitephoto,jdbcType=VARCHAR},
      isUpload = #{isupload,jdbcType=INTEGER},
      yyID = #{yyid,jdbcType=INTEGER},
      companyCode = #{companycode,jdbcType=VARCHAR},
      terminalCode = #{terminalcode,jdbcType=VARCHAR},
      zhuxiaoTerminalCode = #{zhuxiaoterminalcode,jdbcType=VARCHAR},
      terminalManagerId = #{terminalmanagerid,jdbcType=INTEGER},
      zhuxiaoManagerId = #{zhuxiaomanagerid,jdbcType=INTEGER},
      tabTime = #{tabtime,jdbcType=TIMESTAMP},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      syncId = #{syncid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,
    (select nickname from base_member where id = uid) uname,
    (select name from base_visitor where id = vid) vname
    from base_access_record
    <include refid="where_all" />
	<include refid="limit_sql" />
  </select>
  
  <select id="findCount" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM base_access_record
		<include refid="where_all" />
  </select>
  
  <sql id="where_all">
	<where>
	</where>
  </sql>
  <sql id="limit_sql">
	<if test="page_sql != null and page_sql != ''">
		${page_sql}
	</if>
  </sql>
  
  <select id="findAccessRecordPageCount" parameterType="com.qlhx.service.base.realize.model.BaseAccessRecord"
		resultType="java.lang.Integer">
		SELECT COUNT(0) FROM base_access_record r LEFT JOIN base_visitor v ON
		r.vID=v.id
		<where>
			<if test="starttime != null">
				r.startTime <![CDATA[>=]]>
				#{starttime}
			</if>
			<if test="endtime != null">
				AND r.endTime <![CDATA[<=]]>
				DATE_ADD(#{endtime},INTERVAL 1 DAY)
			</if>
			<if test="status == null">
				AND r.status != 3
			</if>
			<if test="status != null and status == 0">
				AND r.status = 0
			</if>
			<if test="status != null and status == 1">
				AND r.status in(1,2)
			</if>
			<if test="visitor != null and visitor.pinYin != null">
				AND v.pinYin=#{visitor.pinYin}
			</if>
			<if test="cardnum != null">
				AND r.CardNum=#{cardnum}
			</if>
		</where>
	</select>
	
	<select id="findAccessRecord" parameterType="com.qlhx.service.base.realize.model.BaseAccessRecord"
		resultMap="ResultAccessRecord">
		SELECT r.*,v.pinYin FROM base_access_record r LEFT JOIN base_visitor v ON
		r.vID=v.id
		<where>
			<if test="starttime != null">
				r.startTime <![CDATA[>=]]>
				#{starttime}
			</if>
			<if test="endtime != null">
				AND r.endTime <![CDATA[<=]]>
				DATE_ADD(#{endtime},INTERVAL 1 DAY)
			</if>
			<if test="status == null">
				AND r.status != 3
			</if>
			<if test="status != null and status == 0">
				AND r.status = 0
			</if>
			<if test="status != null and status == 1">
				AND r.status in(1,2)
			</if>
			<if test="visitor != null and visitor.pinYin != null">
				AND v.pinYin=#{visitor.pinYin}
			</if>
			<if test="cardnum != null">
				AND r.CardNum=#{cardnum}
			</if>
		</where>
		ORDER BY r.id DESC
		LIMIT ${(pageNum-1)*num},${num}
	</select>
	
	<select id="findAccessRecordByCardNum" resultMap="ResultAccessRecord">
		SELECT * FROM
		base_access_record WHERE status=0 AND CardNum=#{cardNum} limit 1
	</select>
</mapper>