<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qlhx.dao.BaseVisitorCarMapper" >
  <resultMap id="BaseResultMap" type="com.qlhx.model.BaseVisitorCar" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cardNum" property="cardnum" jdbcType="VARCHAR" />
    <result column="cardColor" property="cardcolor" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="arID" property="arid" jdbcType="INTEGER" />
    <result column="companyCode" property="companycode" jdbcType="VARCHAR" />
    <result column="tabTime" property="tabtime" jdbcType="TIMESTAMP" />
    <result column="uploadTime" property="uploadtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cardNum, cardColor, num, arID, companyCode, tabTime, uploadTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_visitor_car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_visitor_car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.BaseVisitorCar" >
    insert into base_visitor_car (id, cardNum, cardColor, 
      num, arID, companyCode, 
      tabTime, uploadTime)
    values (#{id,jdbcType=INTEGER}, #{cardnum,jdbcType=VARCHAR}, #{cardcolor,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{arid,jdbcType=INTEGER}, #{companycode,jdbcType=VARCHAR}, 
      #{tabtime,jdbcType=TIMESTAMP}, #{uploadtime,jdbcType=TIMESTAMP})
  </insert>

  <select id="findCarByArId" resultMap="BaseResultMap"
          parameterType="java.lang.Integer">
    <!-- WARNING - @mbggenerated This element is automatically generated by
        MyBatis Generator, do not modify. -->
    select
    <include refid="Base_Column_List" />
    from base_visitor_car
    where arID = #{arId}
  </select>
  <insert id="insertSelective" parameterType="com.qlhx.model.BaseVisitorCar" >
    insert into base_visitor_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cardnum != null" >
        cardNum,
      </if>
      <if test="cardcolor != null" >
        cardColor,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="arid != null" >
        arID,
      </if>
      <if test="companycode != null" >
        companyCode,
      </if>
      <if test="tabtime != null" >
        tabTime,
      </if>
      <if test="uploadtime != null" >
        uploadTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cardnum != null" >
        #{cardnum,jdbcType=VARCHAR},
      </if>
      <if test="cardcolor != null" >
        #{cardcolor,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="arid != null" >
        #{arid,jdbcType=INTEGER},
      </if>
      <if test="companycode != null" >
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="tabtime != null" >
        #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.BaseVisitorCar" >
    update base_visitor_car
    <set >
      <if test="cardnum != null" >
        cardNum = #{cardnum,jdbcType=VARCHAR},
      </if>
      <if test="cardcolor != null" >
        cardColor = #{cardcolor,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="arid != null" >
        arID = #{arid,jdbcType=INTEGER},
      </if>
      <if test="companycode != null" >
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="tabtime != null" >
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null" >
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.BaseVisitorCar" >
    update base_visitor_car
    set cardNum = #{cardnum,jdbcType=VARCHAR},
      cardColor = #{cardcolor,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      arID = #{arid,jdbcType=INTEGER},
      companyCode = #{companycode,jdbcType=VARCHAR},
      tabTime = #{tabtime,jdbcType=TIMESTAMP},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>