<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.BaseMemberMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.BaseMember">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="pswd" jdbcType="VARCHAR" property="pswd" />
    <result column="terminalpswd" jdbcType="INTEGER" property="terminalpswd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="status" jdbcType="BIGINT" property="status" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="nation" jdbcType="INTEGER" property="nation" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="isdel" jdbcType="INTEGER" property="isdel" />
    <result column="uploadstatus" jdbcType="INTEGER" property="uploadstatus" />
    <result column="uploadnum" jdbcType="INTEGER" property="uploadnum" />
    <result column="rowtemp" jdbcType="TIMESTAMP" property="rowtemp" />
    <result column="idNum" jdbcType="VARCHAR" property="idnum" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="issuing" jdbcType="VARCHAR" property="issuing" />
    <result column="validityDateStart" jdbcType="TIMESTAMP" property="validitydatestart" />
    <result column="validityDateEnd" jdbcType="VARCHAR" property="validitydateend" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="depID" jdbcType="INTEGER" property="depid" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="ecardNum" jdbcType="VARCHAR" property="ecardnum" />
    <result column="ecardEndTime" jdbcType="TIMESTAMP" property="ecardendtime" />
    <result column="pinYin" jdbcType="VARCHAR" property="pinyin" />
    <result column="syncId" jdbcType="INTEGER" property="syncid" />
    <result column="companyNum" jdbcType="VARCHAR" property="companynum" />
    <result column="isbindfinger" jdbcType="INTEGER" property="isbindfinger" />
    <result column="isbindface" jdbcType="INTEGER" property="isbindface" />
    <result column="tabTime" jdbcType="TIMESTAMP" property="tabtime" />
    <result column="uploadTime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="idphoto" jdbcType="VARCHAR" property="idphoto" />
  </resultMap>


    <resultMap id="IntervieweeInfo" type="com.qlhx.model.BaseMember"
               extends="BaseResultMap">
        <association property="nations" column="nation"
                     javaType="com.qlhx.model.BaseNatiom">
            <id column="nationNum" property="nationNum" jdbcType="INTEGER" />
            <result column="value" property="value" jdbcType="VARCHAR" />
        </association>
        <association property="dep" column="depID"
                     javaType="com.qlhx.model.UUserDep">
            <id column="depID" property="id" jdbcType="INTEGER" />
            <result column="depvalue" property="value" jdbcType="VARCHAR" />
            <result column="parentId" property="parentId" jdbcType="INTEGER" />
        </association>
<!--        <collection property="entranceGuards" column="id" javaType="ArrayList"-->
<!--                    ofType="com.qlhx.model.EntranceGuard" select="com.qlhxommon.dao.EntranceGuardMapper.selectByUserId"/>-->








        <!--<association property="entranceGuards" column="id"-->
        <!--resultMap="com.qlhxommon.dao.EntranceGuardMapper.BaseResultMap" select="com.qlhxommon.dao.EntranceGuardMapper.selectByUserId">-->
        <!--<id column="id" property="id" jdbcType="INTEGER" />-->
        <!--<result column="egNum" property="egNum" jdbcType="VARCHAR" />-->
        <!--<result column="egName" property="egName" jdbcType="VARCHAR" />-->
        <!--</association>-->
    </resultMap>


    <select id="selectUserInfoByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Long">
		select
		id,nickname,email,sex,nation,phone,telephone,syncId,depID,idNum,ecardNum,photo,ecardEndTime,idphoto,status
		from base_member
		where id = #{id,jdbcType=BIGINT}
	</select>

    <sql id="Base_Column_List">
    id, nickname, email, pswd, terminalpswd, create_time, last_login_time, status, sex, 
    nation, birthday, address, isdel, uploadstatus, uploadnum, rowtemp, idNum, photo, 
    issuing, validityDateStart, validityDateEnd, phone, depID, telephone, ecardNum, ecardEndTime, 
    pinYin, syncId, companyNum, isbindfinger, isbindface, tabTime, uploadTime, idphoto
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_member
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from base_member
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.BaseMember">
    insert into base_member (id, nickname, email, 
      pswd, terminalpswd, create_time, 
      last_login_time, status, sex, 
      nation, birthday, address, 
      isdel, uploadstatus, uploadnum, 
      rowtemp, idNum, photo, 
      issuing, validityDateStart, validityDateEnd, 
      phone, depID, telephone, 
      ecardNum, ecardEndTime, pinYin, 
      syncId, companyNum, isbindfinger, 
      isbindface, tabTime, uploadTime, 
      idphoto)
    values (#{id,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{pswd,jdbcType=VARCHAR}, #{terminalpswd,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIGINT}, #{sex,jdbcType=INTEGER}, 
      #{nation,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, 
      #{isdel,jdbcType=INTEGER}, #{uploadstatus,jdbcType=INTEGER}, #{uploadnum,jdbcType=INTEGER}, 
      #{rowtemp,jdbcType=TIMESTAMP}, #{idnum,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, 
      #{issuing,jdbcType=VARCHAR}, #{validitydatestart,jdbcType=TIMESTAMP}, #{validitydateend,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{depid,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, 
      #{ecardnum,jdbcType=VARCHAR}, #{ecardendtime,jdbcType=TIMESTAMP}, #{pinyin,jdbcType=VARCHAR}, 
      #{syncid,jdbcType=INTEGER}, #{companynum,jdbcType=VARCHAR}, #{isbindfinger,jdbcType=INTEGER}, 
      #{isbindface,jdbcType=INTEGER}, #{tabtime,jdbcType=TIMESTAMP}, #{uploadtime,jdbcType=TIMESTAMP}, 
      #{idphoto,jdbcType=VARCHAR})
  </insert>

    <select id="findEmployeesCountByIdnum" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM base_member u LEFT JOIN base_natiom n ON
		u.nation=n.nationNum LEFT JOIN
		base_department d ON u.depID=d.id
		WHERE
		u.status=1 AND u.id in (select uid from base_access_record a INNER JOIN base_visitor v on a.vid = v.id where v.idNum='${idnum}' GROUP BY uid ORDER BY a.id desc)
	</select>
    <select id="findEmployeesCountById" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM base_member u LEFT JOIN base_natiom n ON
		u.nation=n.nationNum LEFT JOIN
		base_department d ON u.depID=d.id
		WHERE
		u.status=1 AND u.depID=#{depId}
	</select>


    <!--根据部门ID列表，页数等查询人员列表-->
    <select id="findEmployeesByDeptIdS" resultMap="IntervieweeInfo" parameterType="java.util.HashMap">
        SELECT
        u.id,u.nickname,u.sex,u.nation,u.photo,u.phone,u.telephone,u.depID,n.*,d.`value`
        depvalue,d.parentId,u.syncId,u.ecardNum FROM base_member u LEFT JOIN base_natiom n ON
        u.nation=n.nationNum LEFT JOIN base_department d ON u.depID=d.id
        WHERE
        u.status=1 AND
        depID in
        <foreach collection="deptIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        limit
        ${(pageindex-1)*pagesize},${pagesize}
    </select>


    <select id="findUserCountByDeptId" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM base_member WHERE status=1 and depID = #{id}
	</select>

    <!-- 根据访客身份证号码最近访问人员列表 -->
    <select id="findEmployeesByIdnum" resultMap="IntervieweeInfo">
		SELECT
		u.id,u.nickname,u.sex,u.nation,u.photo,u.phone,u.telephone,u.depID,n.*,d.`value`
		depvalue,d.parentId,u.syncId,u.ecardNum FROM base_member u LEFT JOIN base_natiom n ON
		u.nation=n.nationNum LEFT JOIN base_department d ON u.depID=d.id
		WHERE
		u.status=1 AND u.id in (select uid from base_access_record a INNER JOIN base_visitor v on a.vid = v.id where v.idNum='${idnum}' GROUP BY uid ORDER BY a.id desc)
		limit
		${(pageindex-1)*number},${number}
	</select>
    <!--findEmployeesCountByDeptIds 根据部门ID列表，查员工总数-->
    <select id="findEmployeesCountByDeptIds" resultType="java.lang.Integer" parameterType="java.util.List">
        select
        COUNT(1)
        FROM base_member u LEFT JOIN base_natiom n ON
        u.nation=n.nationNum LEFT JOIN
        base_department d ON u.depID=d.id
        where depID in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
  <insert id="insertSelective" parameterType="com.qlhx.model.BaseMember">
    insert into base_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="pswd != null">
        pswd,
      </if>
      <if test="terminalpswd != null">
        terminalpswd,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nation != null">
        nation,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="isdel != null">
        isdel,
      </if>
      <if test="uploadstatus != null">
        uploadstatus,
      </if>
      <if test="uploadnum != null">
        uploadnum,
      </if>
      <if test="rowtemp != null">
        rowtemp,
      </if>
      <if test="idnum != null">
        idNum,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="issuing != null">
        issuing,
      </if>
      <if test="validitydatestart != null">
        validityDateStart,
      </if>
      <if test="validitydateend != null">
        validityDateEnd,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="depid != null">
        depID,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="ecardnum != null">
        ecardNum,
      </if>
      <if test="ecardendtime != null">
        ecardEndTime,
      </if>
      <if test="pinyin != null">
        pinYin,
      </if>
      <if test="syncid != null">
        syncId,
      </if>
      <if test="companynum != null">
        companyNum,
      </if>
      <if test="isbindfinger != null">
        isbindfinger,
      </if>
      <if test="isbindface != null">
        isbindface,
      </if>
      <if test="tabtime != null">
        tabTime,
      </if>
      <if test="uploadtime != null">
        uploadTime,
      </if>
      <if test="idphoto != null">
        idphoto,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="pswd != null">
        #{pswd,jdbcType=VARCHAR},
      </if>
      <if test="terminalpswd != null">
        #{terminalpswd,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIGINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="uploadstatus != null">
        #{uploadstatus,jdbcType=INTEGER},
      </if>
      <if test="uploadnum != null">
        #{uploadnum,jdbcType=INTEGER},
      </if>
      <if test="rowtemp != null">
        #{rowtemp,jdbcType=TIMESTAMP},
      </if>
      <if test="idnum != null">
        #{idnum,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="issuing != null">
        #{issuing,jdbcType=VARCHAR},
      </if>
      <if test="validitydatestart != null">
        #{validitydatestart,jdbcType=TIMESTAMP},
      </if>
      <if test="validitydateend != null">
        #{validitydateend,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="depid != null">
        #{depid,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="ecardnum != null">
        #{ecardnum,jdbcType=VARCHAR},
      </if>
      <if test="ecardendtime != null">
        #{ecardendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pinyin != null">
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null">
        #{syncid,jdbcType=INTEGER},
      </if>
      <if test="companynum != null">
        #{companynum,jdbcType=VARCHAR},
      </if>
      <if test="isbindfinger != null">
        #{isbindfinger,jdbcType=INTEGER},
      </if>
      <if test="isbindface != null">
        #{isbindface,jdbcType=INTEGER},
      </if>
      <if test="tabtime != null">
        #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="idphoto != null">
        #{idphoto,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

    <!-- 根据员工卡号查询员工信息 -->
    <select id="findUserByIdno" resultMap="IntervieweeInfo">
		SELECT
		u.id,u.nickname,u.sex,u.nation,u.photo,u.phone,u.telephone,u.depID,u.ecardEndTime,u.idNum,n.*,d.`value`
		depvalue,d.parentId,u.isbindface,u.idphoto FROM base_member u LEFT JOIN base_natiom n ON
		u.nation=n.nationNum LEFT JOIN base_department d ON u.depID=d.id
		WHERE
		u.status=1 AND u.idNum=#{idno} LIMIT 1
	</select>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.BaseMember">
    update base_member
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="pswd != null">
        pswd = #{pswd,jdbcType=VARCHAR},
      </if>
      <if test="terminalpswd != null">
        terminalpswd = #{terminalpswd,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIGINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="uploadstatus != null">
        uploadstatus = #{uploadstatus,jdbcType=INTEGER},
      </if>
      <if test="uploadnum != null">
        uploadnum = #{uploadnum,jdbcType=INTEGER},
      </if>
      <if test="rowtemp != null">
        rowtemp = #{rowtemp,jdbcType=TIMESTAMP},
      </if>
      <if test="idnum != null">
        idNum = #{idnum,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="issuing != null">
        issuing = #{issuing,jdbcType=VARCHAR},
      </if>
      <if test="validitydatestart != null">
        validityDateStart = #{validitydatestart,jdbcType=TIMESTAMP},
      </if>
      <if test="validitydateend != null">
        validityDateEnd = #{validitydateend,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="depid != null">
        depID = #{depid,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="ecardnum != null">
        ecardNum = #{ecardnum,jdbcType=VARCHAR},
      </if>
      <if test="ecardendtime != null">
        ecardEndTime = #{ecardendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pinyin != null">
        pinYin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="syncid != null">
        syncId = #{syncid,jdbcType=INTEGER},
      </if>
      <if test="companynum != null">
        companyNum = #{companynum,jdbcType=VARCHAR},
      </if>
      <if test="isbindfinger != null">
        isbindfinger = #{isbindfinger,jdbcType=INTEGER},
      </if>
      <if test="isbindface != null">
        isbindface = #{isbindface,jdbcType=INTEGER},
      </if>
      <if test="tabtime != null">
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="idphoto != null">
        idphoto = #{idphoto,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.BaseMember">
    update base_member
    set nickname = #{nickname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      pswd = #{pswd,jdbcType=VARCHAR},
      terminalpswd = #{terminalpswd,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=BIGINT},
      sex = #{sex,jdbcType=INTEGER},
      nation = #{nation,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=INTEGER},
      uploadstatus = #{uploadstatus,jdbcType=INTEGER},
      uploadnum = #{uploadnum,jdbcType=INTEGER},
      rowtemp = #{rowtemp,jdbcType=TIMESTAMP},
      idNum = #{idnum,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      issuing = #{issuing,jdbcType=VARCHAR},
      validityDateStart = #{validitydatestart,jdbcType=TIMESTAMP},
      validityDateEnd = #{validitydateend,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      depID = #{depid,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR},
      ecardNum = #{ecardnum,jdbcType=VARCHAR},
      ecardEndTime = #{ecardendtime,jdbcType=TIMESTAMP},
      pinYin = #{pinyin,jdbcType=VARCHAR},
      syncId = #{syncid,jdbcType=INTEGER},
      companyNum = #{companynum,jdbcType=VARCHAR},
      isbindfinger = #{isbindfinger,jdbcType=INTEGER},
      isbindface = #{isbindface,jdbcType=INTEGER},
      tabTime = #{tabtime,jdbcType=TIMESTAMP},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      idphoto = #{idphoto,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectByCardNum"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from base_member
        where ecardNum = #{cardNum}
        limit 1
    </select>


    <select id="findUserByPhoneOrName" resultMap="BaseResultMap">
		SELECT
		u.id,u.nickname,u.sex,u.nation,u.photo,u.phone,u.telephone,u.depID,u.ecardEndTime,u.idNum,u.pinYin,d.`value`
		depvalue,d.parentId,u.ecardNum,u.syncId FROM base_member u LEFT JOIN base_department d ON u.depID=d.id
		WHERE 1 = 1 and
		( RIGHT  (u.phone,4)=#{param} OR u.pinYin like '%${param}%' )
		limit
		${(pageindex-1)*pagesize},${pagesize}
	</select>
    <select id="findUserCountByPhoneOrName" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM base_member u LEFT
		JOIN base_department d ON u.depID=d.id
		WHERE
		RIGHT(u.phone,4)=#{param} OR
		u.pinYin like '%${param}%'
	</select>

    <resultMap id="LoginResultMap" type="com.qlhx.model.BaseMember"
               extends="BaseResultMap">
        <association property="nations" column="nation"
                     javaType="com.qlhx.model.BaseNatiom" select="com.qlhx.dao.BaseNatiomMapper.selectByPrimaryKey">
            <id column="nationNum" property="nationNum" jdbcType="INTEGER" />
            <result column="value" property="value" jdbcType="VARCHAR" />
        </association>
        <association property="dep" column="depID"
                     javaType="com.qlhx.model.UUserDep" select="com.qlhx.dao.BaseDepartmentMapper.selectByPrimaryKey">
            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="value" property="value" jdbcType="VARCHAR" />
            <result column="parentId" property="parentid" jdbcType="INTEGER" />
        </association>
    </resultMap>



    <!-- 登录 -->
    <select id="login" resultMap="LoginResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM base_member
        where email =
        #{email,jdbcType=VARCHAR} and pswd =
        #{pswd,jdbcType=VARCHAR}
    </select>

    <!-- 根据部门ID获取部门可访问人员列表 -->
    <select id="findEmployeesById" resultMap="IntervieweeInfo">
		SELECT
		u.id,u.nickname,u.sex,u.nation,u.photo,u.phone,u.telephone,u.depID,n.*,d.`value`
		depvalue,d.parentId,u.syncId,u.ecardNum,u.idphoto FROM base_member u LEFT JOIN base_natiom n ON
		u.nation=n.nationNum LEFT JOIN base_department d ON u.depID=d.id
		WHERE
		u.status=1 AND u.depID=#{depId}
		limit
		${(pageindex-1)*pagesize},${pagesize}
	</select>
</mapper>