<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.LeaveMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.Leave">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="duration" jdbcType="VARCHAR" property="duration" />
    <result column="explain" jdbcType="VARCHAR" property="explain" />
    <result column="approverUser" jdbcType="INTEGER" property="approveruser" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="rejectReason" jdbcType="VARCHAR" property="rejectreason" />
    <result column="createUser" jdbcType="INTEGER" property="createuser" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, startTime, endTime, duration, explain, approverUser, status, rejectReason, 
    createUser, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_leave
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_leave
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.Leave">
    insert into u_leave (id, type, startTime, 
      endTime, duration, explain, 
      approverUser, status, rejectReason, 
      createUser, createDate)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=SMALLINT}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{duration,jdbcType=VARCHAR}, #{explain,jdbcType=VARCHAR}, 
      #{approveruser,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, #{rejectreason,jdbcType=VARCHAR}, 
      #{createuser,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.Leave">
    insert into u_leave
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="explain != null">
        explain,
      </if>
      <if test="approveruser != null">
        approverUser,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="rejectreason != null">
        rejectReason,
      </if>
      <if test="createuser != null">
        createUser,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="explain != null">
        #{explain,jdbcType=VARCHAR},
      </if>
      <if test="approveruser != null">
        #{approveruser,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="rejectreason != null">
        #{rejectreason,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.Leave">
    update u_leave
    <set>
      <if test="type != null">
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="explain != null">
        explain = #{explain,jdbcType=VARCHAR},
      </if>
      <if test="approveruser != null">
        approverUser = #{approveruser,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="rejectreason != null">
        rejectReason = #{rejectreason,jdbcType=VARCHAR},
      </if>
      <if test="createuser != null">
        createUser = #{createuser,jdbcType=INTEGER},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.Leave">
    update u_leave
    set type = #{type,jdbcType=SMALLINT},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      duration = #{duration,jdbcType=VARCHAR},
      explain = #{explain,jdbcType=VARCHAR},
      approverUser = #{approveruser,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT},
      rejectReason = #{rejectreason,jdbcType=VARCHAR},
      createUser = #{createuser,jdbcType=INTEGER},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>