<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.LeaveApproveMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.LeaveApprove">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="leaveId" jdbcType="INTEGER" property="leaveid" />
    <result column="approverUser" jdbcType="INTEGER" property="approveruser" />
    <result column="index" jdbcType="SMALLINT" property="index" />
  </resultMap>
  <sql id="Base_Column_List">
    id, leaveId, approverUser, index
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_leave_approve
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_leave_approve
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.LeaveApprove">
    insert into u_leave_approve (id, leaveId, approverUser, 
      index)
    values (#{id,jdbcType=INTEGER}, #{leaveid,jdbcType=INTEGER}, #{approveruser,jdbcType=INTEGER}, 
      #{index,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.LeaveApprove">
    insert into u_leave_approve
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="leaveid != null">
        leaveId,
      </if>
      <if test="approveruser != null">
        approverUser,
      </if>
      <if test="index != null">
        index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="leaveid != null">
        #{leaveid,jdbcType=INTEGER},
      </if>
      <if test="approveruser != null">
        #{approveruser,jdbcType=INTEGER},
      </if>
      <if test="index != null">
        #{index,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.LeaveApprove">
    update u_leave_approve
    <set>
      <if test="leaveid != null">
        leaveId = #{leaveid,jdbcType=INTEGER},
      </if>
      <if test="approveruser != null">
        approverUser = #{approveruser,jdbcType=INTEGER},
      </if>
      <if test="index != null">
        index = #{index,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.LeaveApprove">
    update u_leave_approve
    set leaveId = #{leaveid,jdbcType=INTEGER},
      approverUser = #{approveruser,jdbcType=INTEGER},
      index = #{index,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>