<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.UManagerMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.UManager">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="showName" jdbcType="VARCHAR" property="showname" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="companyList" jdbcType="VARCHAR" property="companylist" />
    <result column="areaList" jdbcType="VARCHAR" property="arealist" />
    <result column="terminalList" jdbcType="VARCHAR" property="terminallist" />
    <result column="accountType" jdbcType="SMALLINT" property="accounttype" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="createUser" jdbcType="BIGINT" property="createuser" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="lastLoginTime" jdbcType="TIMESTAMP" property="lastlogintime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, showName, userName, password, companyList, areaList, terminalList, accountType, 
    status, createUser, createTime, lastLoginTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_manager
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByUsernameAndPass" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_manager
    where username = #{userName} and password = #{passWord}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from u_manager
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.UManager">
    insert into u_manager (id, showName, userName, 
      password, companyList, areaList, 
      terminalList, accountType, status, 
      createUser, createTime, lastLoginTime
      )
    values (#{id,jdbcType=BIGINT}, #{showname,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{companylist,jdbcType=VARCHAR}, #{arealist,jdbcType=VARCHAR}, 
      #{terminallist,jdbcType=VARCHAR}, #{accounttype,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, 
      #{createuser,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, #{lastlogintime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.UManager">
    insert into u_manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="showname != null">
        showName,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="companylist != null">
        companyList,
      </if>
      <if test="arealist != null">
        areaList,
      </if>
      <if test="terminallist != null">
        terminalList,
      </if>
      <if test="accounttype != null">
        accountType,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createuser != null">
        createUser,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="lastlogintime != null">
        lastLoginTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="showname != null">
        #{showname,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="companylist != null">
        #{companylist,jdbcType=VARCHAR},
      </if>
      <if test="arealist != null">
        #{arealist,jdbcType=VARCHAR},
      </if>
      <if test="terminallist != null">
        #{terminallist,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null">
        #{accounttype,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createuser != null">
        #{createuser,jdbcType=BIGINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.UManager">
    update u_manager
    <set>
      <if test="showname != null">
        showName = #{showname,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="companylist != null">
        companyList = #{companylist,jdbcType=VARCHAR},
      </if>
      <if test="arealist != null">
        areaList = #{arealist,jdbcType=VARCHAR},
      </if>
      <if test="terminallist != null">
        terminalList = #{terminallist,jdbcType=VARCHAR},
      </if>
      <if test="accounttype != null">
        accountType = #{accounttype,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createuser != null">
        createUser = #{createuser,jdbcType=BIGINT},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.UManager">
    update u_manager
    set showName = #{showname,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      companyList = #{companylist,jdbcType=VARCHAR},
      areaList = #{arealist,jdbcType=VARCHAR},
      terminalList = #{terminallist,jdbcType=VARCHAR},
      accountType = #{accounttype,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      createUser = #{createuser,jdbcType=BIGINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>