<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.UPreapplygoupMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.UPreapplygoup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="applyuserid" jdbcType="INTEGER" property="applyuserid" />
    <result column="applyopenid" jdbcType="VARCHAR" property="applyopenid" />
    <result column="companyCode" jdbcType="VARCHAR" property="companycode" />
    <result column="areaCode" jdbcType="VARCHAR" property="areacode" />
    <result column="reson" jdbcType="VARCHAR" property="reson" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="responsemsg" jdbcType="VARCHAR" property="responsemsg" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="syncid" jdbcType="VARCHAR" property="syncid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="tabTime" jdbcType="TIMESTAMP" property="tabtime" />
    <result column="uploadTime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="isTeam" jdbcType="INTEGER" property="isteam" />
    <result column="launchType" jdbcType="INTEGER" property="launchType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, applyuserid, applyopenid, companyCode,areaCode , reson, createtime, status, responsemsg, 
    uid, syncid, type, starttime, endtime, tabTime, uploadTime, unit,isteam,launchType
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_preapplygoup
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_preapplygoup
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.UPreapplygoup">
    insert into u_preapplygoup (id, applyuserid, applyopenid, 
      companyCode, reson, createtime, 
      status, responsemsg, uid, 
      syncid, type, starttime, 
      endtime, tabTime, uploadTime, 
      unit)
    values (#{id,jdbcType=INTEGER}, #{applyuserid,jdbcType=INTEGER}, #{applyopenid,jdbcType=VARCHAR}, 
      #{companycode,jdbcType=VARCHAR}, #{reson,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{responsemsg,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{syncid,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{tabtime,jdbcType=TIMESTAMP}, #{uploadtime,jdbcType=TIMESTAMP}, 
      #{unit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.UPreapplygoup">
    insert into u_preapplygoup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="applyuserid != null">
        applyuserid,
      </if>
      <if test="applyopenid != null">
        applyopenid,
      </if>
      <if test="companycode != null">
        companyCode,
      </if>
      <if test="areacode != null">
        areaCode,
      </if>
      <if test="reson != null">
        reson,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="responsemsg != null">
        responsemsg,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="syncid != null">
        syncid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="tabtime != null">
        tabTime,
      </if>
      <if test="uploadtime != null">
        uploadTime,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="isteam != null">
        isteam,
      </if>
      <if test="maxpersonnum != null">
        maxpersonnum,
      </if>
      <if test="jionpersonnum != null">
        jionpersonnum,
      </if>
      <if test="activitylogo != null">
        activitylogo,
      </if>
      <if test="activityTitle != null">
        activityTitle,
      </if>
      <if test="subtitle != null">
        subtitle,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="organizer != null">
        organizer,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="isActive != null">
        isActive,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="launchType != null">
        launchType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applyuserid != null">
        #{applyuserid,jdbcType=INTEGER},
      </if>
      <if test="applyopenid != null">
        #{applyopenid,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null">
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="reson != null">
        #{reson,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="responsemsg != null">
        #{responsemsg,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="syncid != null">
        #{syncid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tabtime != null">
        #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="isteam != null">
        #{isteam,jdbcType=INTEGER},
      </if>
      <if test="maxpersonnum != null">
        #{maxpersonnum,jdbcType=INTEGER},
      </if>
      <if test="jionpersonnum != null">
        #{jionpersonnum,jdbcType=INTEGER},
      </if>
      <if test="activitylogo != null">
        #{activitylogo,jdbcType=VARCHAR},
      </if>
      <if test="activityTitle != null">
        #{activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="organizer != null">
        #{organizer,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="launchType != null">
        #{launchType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.UPreapplygoup">
    update u_preapplygoup
    <set>
      <if test="applyuserid != null">
        applyuserid = #{applyuserid,jdbcType=INTEGER},
      </if>
      <if test="applyopenid != null">
        applyopenid = #{applyopenid,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null">
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="reson != null">
        reson = #{reson,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="responsemsg != null">
        responsemsg = #{responsemsg,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="syncid != null">
        syncid = #{syncid,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tabtime != null">
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="isteam != null">
        isteam = #{isteam,jdbcType=VARCHAR},
      </if>
      <if test="maxpersonnum != null">
        maxpersonnum = #{maxpersonnum,jdbcType=INTEGER},
      </if>
      <if test="jionpersonnum != null">
        jionpersonnum = #{jionpersonnum,jdbcType=INTEGER},
      </if>
      <if test="activitylogo != null">
        activitylogo = #{activitylogo,jdbcType=VARCHAR},
      </if>
      <if test="activityTitle != null">
        activityTitle = #{activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null">
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="organizer != null">
        organizer = #{organizer,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isActive != null">
        isActive = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
    </set>
    where syncid = #{syncid,jdbcType=VARCHAR} and areaCode = #{areacode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.UPreapplygoup">
    update u_preapplygoup
    set applyuserid = #{applyuserid,jdbcType=INTEGER},
      applyopenid = #{applyopenid,jdbcType=VARCHAR},
      companyCode = #{companycode,jdbcType=VARCHAR},
      reson = #{reson,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      responsemsg = #{responsemsg,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      syncid = #{syncid,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      tabTime = #{tabtime,jdbcType=TIMESTAMP},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      unit = #{unit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="preapplygouplist" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_preapplygoup
    where tabTime &gt; #{downTime} and areaCode =#{companyCode} and status = 2 and type = 1<!-- 审批通过 -->
  </select>
  
  <update id="agreeOrRefusedUPreapplygoup" parameterType="com.qlhx.model.UPreapplygoup">
    update u_preapplygoup
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="responsemsg != null">
        responsemsg = #{responsemsg,jdbcType=VARCHAR},
      </if>
    </set>
    where syncid = #{syncid,jdbcType=VARCHAR} and areaCode = #{areacode,jdbcType=VARCHAR}
  </update>
  
  <!--,
		(select count(*) from u_preapplygoupdetail pd where pd.syncid = p.syncid and pd.areaCode = p.areaCode and pd.openid = #{openid}) isJoin,  -->
  <select id="findAll" resultType="com.qlhx.model.UPreapplygoup">
		SELECT p.*,
		(select count(*) from u_preapplygoupdetail pd where pd.syncid = p.syncid and pd.areaCode = p.areaCode) applyCount,
		(select m.uname  from u_wxuser m where m.openid  = p.applyopenid and m.areaCode = p.areaCode limit 0,1) applyname,
		(select pdd.uname from u_preapplygoupdetail pdd where pdd.syncid = p.syncid and pdd.areaCode = p.areaCode limit 0,1) fromname,
		(select v.nickname  from u_member v where v.id = p.uid and v.areaCode = p.areaCode limit 0,1) toname
		 FROM u_preapplygoup p
		 <where>
		<include refid="where_all" />
		</where>
		group by p.id
		order by p.createtime desc
		<include refid="limit_sql" />
	</select>
	<select id="findCount" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM
		u_preapplygoup p
		 <where>
		<include refid="where_all" />
		 </where>
	</select>
	
	 <select id="findMyAll" resultType="com.qlhx.model.UPreapplygoup">
		SELECT p.*,
		(select count(*) from u_preapplygoupdetail pdd where pdd.syncid = p.syncid and pdd.areaCode = p.areaCode) applyCount,
		(select m.uname  from u_wxuser m where m.openid  = p.applyopenid and m.areaCode = p.areaCode limit 0,1) applyname,
		(select m.company from u_wxuser m where m.uid = p.uid and m.areaCode = p.areaCode) toUnit,
		(select pdd.uname from u_preapplygoupdetail pdd where pdd.syncid = p.syncid and pdd.areaCode = p.areaCode limit 0,1) fromname,
		(select v.nickname  from u_member v where v.id = p.uid and v.areaCode = p.areaCode limit 0,1) toname
		 FROM u_preapplygoup p
		 where p.applyopenid = #{openid,jdbcType=VARCHAR}
		<if test="statuList != null and statuList !='' ">
			and p.status in 
			<foreach collection="statuList" index="index" item="item" open="(" separator="," close=")">
                #{item}       
        </foreach>  
		</if>
		 <if test="isteam != null and isteam !='' ">
		 and isteam = #{isteam,jdbcType=INTEGER}
		 </if>
		 <if test="launchType != null and launchType !='' ">
		 and launchType = #{launchType,jdbcType=INTEGER}
		 </if>
		  and p.areaCode = #{areaCode,jdbcType=VARCHAR}
		  order by p.createtime desc
		<include refid="limit_sql" />
	</select>
	<select id="findMyCount" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM
		u_preapplygoup p
		where p.applyopenid = #{openid,jdbcType=VARCHAR}
		<if test="statuList != null and statuList !='' ">
			and p.status in 
			<foreach collection="statuList" index="index" item="item" open="(" separator="," close=")">
                #{item}       
        </foreach>  
		</if>
		<if test="isteam != null and isteam !='' ">
		 and isteam = #{isteam,jdbcType=INTEGER}
		 </if>
		 <if test="launchType != null and launchType !='' ">
		 and launchType = #{launchType,jdbcType=INTEGER}
		 </if>
		 and p.areaCode = #{areaCode,jdbcType=VARCHAR}
	</select>
	
	
	<select id="findMyTeamAll" resultType="com.qlhx.model.UPreapplygoup">
		SELECT p.*,
		(select count(*) from u_preapplygoupdetail pdd where pdd.syncid = p.syncid and pdd.areaCode = p.areaCode) applyCount,
		(select m.uname  from u_wxuser m where m.openid  = p.applyopenid and m.areaCode = p.areaCode limit 0,1) applyname,
		(select v.nickname  from u_member v where v.id = p.uid and v.areaCode = p.areaCode limit 0,1) toname
		 FROM u_preapplygoup p 
		 where p.applyopenid = #{openid,jdbcType=VARCHAR}
		<if test="status != null and status !='' ">
			and p.status = #{status,jdbcType=INTEGER}
		</if>
		 and p.areaCode = #{areaCode,jdbcType=VARCHAR}
		 and isteam = 1
		 order by p.createtime desc
		<include refid="limit_sql" />
	</select>
	<select id="findMyTeamCount" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM
		u_preapplygoup p
		where p.applyopenid = #{openid,jdbcType=VARCHAR}
		<if test="status != null and status !='' ">
			and p.status = #{status,jdbcType=INTEGER}
		</if>
		 and p.areaCode = #{areaCode,jdbcType=VARCHAR}
		and isteam = 1
	</select>
	
	<select id="findActiveAll" resultType="com.qlhx.model.UPreapplygoup">
		SELECT p.*
		 FROM u_preapplygoup p 
		 where p.areaCode = #{areaCode,jdbcType=VARCHAR}
		 and p.isActive = 1
		 <if test="title != null and title !='' ">
			and p.activityTitle like  CONCAT('%',#{title},'%') 
		 </if>
		 order by p.createtime desc
		<include refid="limit_sql" />
	</select>
	<select id="findActiveCount" resultType="java.lang.Integer">
		SELECT count(p.id)
		 FROM u_preapplygoup p 
		 where p.areaCode = #{areaCode,jdbcType=VARCHAR}
		 and p.isActive = 1
		  <if test="title != null and title !='' ">
			and p.activityTitle like  CONCAT('%',#{title},'%') 
		 </if>
	</select>
	
	<select id="findMyActiveAll" resultType="com.qlhx.model.UPreapplygoup">
		SELECT p.*,pd.cardNum
		 FROM u_preapplygoup p ,u_preapplygoupdetail pd where pd.syncid = p.syncid and pd.areaCode = p.areaCode and pd.openid = #{openid}
		 and p.areaCode = #{areaCode,jdbcType=VARCHAR}
		 and p.isActive = 1
		 order by p.createtime desc
		<include refid="limit_sql" />
	</select>
	<select id="findMyActiveCount" resultType="java.lang.Integer">
		SELECT count(p.id)
		 FROM u_preapplygoup p ,u_preapplygoupdetail pd where pd.syncid = p.syncid and pd.areaCode = p.areaCode and pd.openid = #{openid}
		 and p.areaCode = #{areaCode,jdbcType=VARCHAR}
		 and p.isActive = 1
	</select>
	
	<select id="findMyShareActiveAll" resultType="com.qlhx.model.UPreapplygoup">
		SELECT p.*
		 FROM u_preapplygoup p ,u_wxuser_preapplygoup up where up.syncid = p.syncid and up.areaCode = p.areaCode and up.openid = #{openid}
		 and p.areaCode = #{areaCode,jdbcType=VARCHAR}
		 and p.isActive = 1
		 order by up.createDate desc
		<include refid="limit_sql" />
	</select>
	<select id="findMyShareActiveCount" resultType="java.lang.Integer">
		SELECT count(p.id)
		 FROM u_preapplygoup p ,u_wxuser_preapplygoup up where up.syncid = p.syncid and up.areaCode = p.areaCode and up.openid = #{openid}
		 and p.areaCode = #{areaCode,jdbcType=VARCHAR}
		 and p.isActive = 1
	</select>
	
	<select id="selectBySyncId" resultType="com.qlhx.model.UPreapplygoup">
		SELECT p.*,
		(select count(*) from u_preapplygoupdetail pd where pd.syncid = p.syncid and pd.areaCode = p.areaCode) applyCount,
		(select m.uname  from u_wxuser m where m.openid  = p.applyopenid and m.areaCode = p.areaCode limit 0,1) applyname,
		(select pdd.uname from u_preapplygoupdetail pdd where pdd.syncid = p.syncid and pdd.areaCode = p.areaCode limit 0,1) fromname,
		(select v.nickname  from u_member v where v.id = p.uid and v.areaCode = p.areaCode limit 0,1) toname
		<if test="openid != null and openid !='' ">
		,
		(select count(*) from u_preapplygoupdetail pd where pd.syncid = p.syncid and pd.areaCode = p.areaCode and pd.openid = #{openid}) isJoin
		</if>
		 FROM u_preapplygoup p
		where p.syncid = #{syncid,jdbcType=VARCHAR} and p.areaCode = #{areacode,jdbcType=VARCHAR}
	</select>
	
	<sql id="limit_sql">
		<if test="page_sql != null and page_sql != ''">
			${page_sql}
		</if>
	</sql>

	<sql id="where_all">
		<if test="status != null and status !='' ">
			and p.status = #{status,jdbcType=INTEGER}
		</if>
		<if test="status == null or status =='' "> <!-- 员工 全部列表中，不显示团队 未提交的 -->
			and p.status != 0   
		</if>
		<if test="areaCode != null and areaCode !='' ">
			and p.areaCode = #{areaCode,jdbcType=VARCHAR}
		</if>
		<if test="uid != null and uid !='' ">
			and p.uid = #{uid,jdbcType=INTEGER}
		</if>
		<if test="isActive != null and isActive !='' ">
			and p.isActive = #{isActive,jdbcType=INTEGER}
		</if>
		<if test="title != null and title !='' ">
			and p.activityTitle like  CONCAT('%',#{title},'%') 
		</if>
		<if test="launchType != null and launchType !='' and launchType == 1">
			and p.launchType = #{launchType,jdbcType=INTEGER}
		</if>
		<if test="launchType == null or launchType =='' or launchType != 1">
			and p.launchType != 1
		</if>
    </sql>
    
    <update id="teamSubmitApply" parameterType="com.qlhx.model.UPreapplygoup">
    update u_preapplygoup
    set status = #{status,jdbcType=INTEGER}
    where syncid = #{syncid,jdbcType=VARCHAR} and  areaCode = #{areacode,jdbcType=VARCHAR}
  </update>
  
  <update id="updateJoinPersonNum" >
    update u_preapplygoup
    set jionpersonnum = jionpersonnum + 1
    where (maxpersonnum = 0 or jionpersonnum &lt; maxpersonnum ) and  syncid = #{syncid,jdbcType=VARCHAR} and  areaCode = #{areacode,jdbcType=VARCHAR}
  </update>
  
  
   <select id="findMyPreApplyGroupHistoryAll" resultType="com.qlhx.model.UPreapplygoup">
		SELECT p.*,
		(select count(*) from u_preapplygoupdetail pdd where pdd.syncid = p.syncid and pdd.areaCode = p.areaCode) applyCount,
		(select m.uname  from u_wxuser m where m.openid  = p.applyopenid and m.areaCode = p.areaCode limit 0,1) applyname,
		pd.uname fromname,
		(select m.company from u_wxuser m where m.uid = p.uid and m.areaCode = p.areaCode) toUnit,
		(select v.nickname  from u_member v where v.id = p.uid and v.areaCode = p.areaCode limit 0,1) toname
		 FROM u_preapplygoup p,u_preapplygoupdetail pd
		 where pd.openid = #{openid,jdbcType=VARCHAR} and p.syncid = pd.syncid and p.areaCode = pd.areaCode
		  and p.areaCode = #{areaCode,jdbcType=VARCHAR}
		  order by p.createtime desc
		<include refid="limit_sql" />
	</select>
	<select id="findMyPreApplyGroupHistoryCount" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		 FROM u_preapplygoup p,u_preapplygoupdetail pd
		 where pd.openid = #{openid,jdbcType=VARCHAR} and p.syncid = pd.syncid and p.areaCode = pd.areaCode
		  and p.areaCode = #{areaCode,jdbcType=VARCHAR}
	</select>
	
	 <select id="findMyReceiveInviteAll" resultType="com.qlhx.model.UPreapplygoup">
		SELECT p.*,
		(select count(*) from u_preapplygoupdetail pdd where pdd.syncid = p.syncid and pdd.areaCode = p.areaCode) applyCount,
		(select m.uname  from u_wxuser m where m.openid  = p.applyopenid and m.areaCode = p.areaCode limit 0,1) applyname,
		pd.uname fromname,
		(select m.company from u_wxuser m where m.uid = p.uid and m.areaCode = p.areaCode) toUnit,
		(select v.nickname  from u_member v where v.id = p.uid and v.areaCode = p.areaCode limit 0,1) toname
		 FROM u_preapplygoup p,u_preapplygoupdetail pd
		 where pd.openid = #{openid,jdbcType=VARCHAR} and p.syncid = pd.syncid and p.areaCode = pd.areaCode
		  and p.launchType = 1
		  and p.isteam = 0
		  and p.areaCode = #{areaCode,jdbcType=VARCHAR}
		  order by p.createtime desc
		<include refid="limit_sql" />
	</select>
	<select id="findMyReceiveInviteCount" resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		 FROM u_preapplygoup p,u_preapplygoupdetail pd
		 where pd.openid = #{openid,jdbcType=VARCHAR} and p.syncid = pd.syncid and p.areaCode = pd.areaCode
		 and p.launchType = 1
		 and p.isteam = 0
		 and p.areaCode = #{areaCode,jdbcType=VARCHAR}
	</select>
  
</mapper>