<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.UTerminalPartsMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.UTerminalParts">
    <id column="primaryId" jdbcType="BIGINT" property="primaryid" />
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="terminalCode" jdbcType="VARCHAR" property="terminalcode" />
    <result column="partCode" jdbcType="VARCHAR" property="partcode" />
    <result column="companyCode" jdbcType="VARCHAR" property="companycode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tabTime" jdbcType="TIMESTAMP" property="tabtime" />
    <result column="uploadTime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="native_createDate" jdbcType="TIMESTAMP" property="nativeCreatedate" />
    <result column="native_updateDate" jdbcType="TIMESTAMP" property="nativeUpdatedate" />
  </resultMap>
  <sql id="Base_Column_List">
    primaryId, id, terminalCode, partCode, companyCode, status, tabTime, uploadTime, 
    native_createDate, native_updateDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_terminal_parts
    where primaryId = #{primaryid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from u_terminal_parts
    where primaryId = #{primaryid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.UTerminalParts">
    insert into u_terminal_parts (primaryId, id, terminalCode, 
      partCode, companyCode, status, 
      tabTime, uploadTime, native_createDate, 
      native_updateDate)
    values (#{primaryid,jdbcType=BIGINT}, #{id,jdbcType=BIGINT}, #{terminalcode,jdbcType=VARCHAR}, 
      #{partcode,jdbcType=VARCHAR}, #{companycode,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{tabtime,jdbcType=TIMESTAMP}, #{uploadtime,jdbcType=TIMESTAMP}, #{nativeCreatedate,jdbcType=TIMESTAMP}, 
      #{nativeUpdatedate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.UTerminalParts">
    insert into u_terminal_parts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="primaryid != null">
        primaryId,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="terminalcode != null">
        terminalCode,
      </if>
      <if test="partcode != null">
        partCode,
      </if>
      <if test="companycode != null">
        companyCode,
      </if>
      <if test="areacode != null">
        areaCode,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tabtime != null">
        tabTime,
      </if>
      <if test="uploadtime != null">
        uploadTime,
      </if>
      <if test="nativeCreatedate != null">
        native_createDate,
      </if>
      <if test="nativeUpdatedate != null">
        native_updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="primaryid != null">
        #{primaryid,jdbcType=BIGINT},
      </if>
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="terminalcode != null">
        #{terminalcode,jdbcType=VARCHAR},
      </if>
      <if test="partcode != null">
        #{partcode,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null">
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tabtime != null">
        #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nativeCreatedate != null">
        #{nativeCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="nativeUpdatedate != null">
        #{nativeUpdatedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.UTerminalParts">
    update u_terminal_parts
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="terminalcode != null">
        terminalCode = #{terminalcode,jdbcType=VARCHAR},
      </if>
      <if test="partcode != null">
        partCode = #{partcode,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null">
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tabtime != null">
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nativeCreatedate != null">
        native_createDate = #{nativeCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="nativeUpdatedate != null">
        native_updateDate = #{nativeUpdatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where primaryId = #{primaryid,jdbcType=BIGINT}
  </update>
  
   <update id="updateByCompanyCodeAndId" parameterType="com.qlhx.model.UTerminalParts">
    update u_terminal_parts
    <set>
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="terminalcode != null">
        terminalCode = #{terminalcode,jdbcType=VARCHAR},
      </if>
      <if test="partcode != null">
        partCode = #{partcode,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null">
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tabtime != null">
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nativeCreatedate != null">
        native_createDate = #{nativeCreatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="nativeUpdatedate != null">
        native_updateDate = #{nativeUpdatedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT} and areaCode = #{areacode,jdbcType=VARCHAR}  and terminalCode = #{terminalcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.UTerminalParts">
    update u_terminal_parts
    set id = #{id,jdbcType=BIGINT},
      terminalCode = #{terminalcode,jdbcType=VARCHAR},
      partCode = #{partcode,jdbcType=VARCHAR},
      companyCode = #{companycode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tabTime = #{tabtime,jdbcType=TIMESTAMP},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      native_createDate = #{nativeCreatedate,jdbcType=TIMESTAMP},
      native_updateDate = #{nativeUpdatedate,jdbcType=TIMESTAMP}
    where primaryId = #{primaryid,jdbcType=BIGINT}
  </update>
</mapper>