<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.UTerminalMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.UTerminal">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="terminalCode" jdbcType="VARCHAR" property="terminalcode" />
    <result column="terminalName" jdbcType="VARCHAR" property="terminalname" />
    <result column="mac" jdbcType="VARCHAR" property="mac" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="bak" jdbcType="VARCHAR" property="bak" />
    <result column="lastOnlineDate" jdbcType="TIMESTAMP" property="lastonlinedate" />
    <result column="areaCode" jdbcType="VARCHAR" property="areacode" />
    <result column="companyCode" jdbcType="VARCHAR" property="companycode" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tabTime" jdbcType="TIMESTAMP" property="tabtime" />
    <result column="uploadTime" jdbcType="TIMESTAMP" property="uploadtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, terminalCode, terminalName, mac, ip, bak, lastOnlineDate, areaCode, companyCode, 
    model, status, tabTime, uploadTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_terminal
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from u_terminal
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.UTerminal">
    insert into u_terminal (id, terminalCode, terminalName, 
      mac, ip, bak, lastOnlineDate, 
      areaCode, companyCode, model, 
      status, tabTime, uploadTime
      )
    values (#{id,jdbcType=BIGINT}, #{terminalcode,jdbcType=VARCHAR}, #{terminalname,jdbcType=VARCHAR}, 
      #{mac,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{bak,jdbcType=VARCHAR}, #{lastonlinedate,jdbcType=TIMESTAMP}, 
      #{areacode,jdbcType=VARCHAR}, #{companycode,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{tabtime,jdbcType=TIMESTAMP}, #{uploadtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.UTerminal">
    insert into u_terminal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="terminalcode != null">
        terminalCode,
      </if>
      <if test="terminalname != null">
        terminalName,
      </if>
      <if test="mac != null">
        mac,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="bak != null">
        bak,
      </if>
      <if test="lastonlinedate != null">
        lastOnlineDate,
      </if>
      <if test="areacode != null">
        areaCode,
      </if>
      <if test="companycode != null">
        companyCode,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tabtime != null">
        tabTime,
      </if>
      <if test="uploadtime != null">
        uploadTime,
      </if>
      <if test="native_createDate != null">
		native_createDate,
	  </if>
	  <if test="native_updateDate != null">
		native_updateDate,
	  </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="terminalcode != null">
        #{terminalcode,jdbcType=VARCHAR},
      </if>
      <if test="terminalname != null">
        #{terminalname,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="bak != null">
        #{bak,jdbcType=VARCHAR},
      </if>
      <if test="lastonlinedate != null">
        #{lastonlinedate,jdbcType=TIMESTAMP},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null">
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="tabtime != null">
        #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="native_createDate != null">
		#{native_createDate},
	  </if>
	  <if test="native_updateDate != null">
		#{native_updateDate},
	  </if>
    </trim>
  </insert>
  
  <update id="updateByCompanyCodeAndId" parameterType="com.qlhx.model.UTerminal">
    update u_terminal
    <set>
      <if test="terminalcode != null">
        terminalCode = #{terminalcode,jdbcType=VARCHAR},
      </if>
      <if test="terminalname != null">
        terminalName = #{terminalname,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="bak != null">
        bak = #{bak,jdbcType=VARCHAR},
      </if>
      <if test="lastonlinedate != null">
        lastOnlineDate = #{lastonlinedate,jdbcType=TIMESTAMP},
      </if>
      <if test="areacode != null">
        areaCode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null">
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tabtime != null">
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="native_updateDate != null">
		native_updateDate = #{native_updateDate},
	  </if>
    </set>
     where companyCode = #{companycode,jdbcType=VARCHAR}  and areaCode = #{areacode,jdbcType=VARCHAR} and terminalCode = #{terminalcode,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.UTerminal">
    update u_terminal
    <set>
      <if test="terminalcode != null">
        terminalCode = #{terminalcode,jdbcType=VARCHAR},
      </if>
      <if test="terminalname != null">
        terminalName = #{terminalname,jdbcType=VARCHAR},
      </if>
      <if test="mac != null">
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="bak != null">
        bak = #{bak,jdbcType=VARCHAR},
      </if>
      <if test="lastonlinedate != null">
        lastOnlineDate = #{lastonlinedate,jdbcType=TIMESTAMP},
      </if>
      <if test="areacode != null">
        areaCode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null">
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="tabtime != null">
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null">
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.UTerminal">
    update u_terminal
    set terminalCode = #{terminalcode,jdbcType=VARCHAR},
      terminalName = #{terminalname,jdbcType=VARCHAR},
      mac = #{mac,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      bak = #{bak,jdbcType=VARCHAR},
      lastOnlineDate = #{lastonlinedate,jdbcType=TIMESTAMP},
      areaCode = #{areacode,jdbcType=VARCHAR},
      companyCode = #{companycode,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      tabTime = #{tabtime,jdbcType=TIMESTAMP},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <select id="terminalList"  resultType="com.qlhx.model.UTerminal">
    select 
    t.terminalCode,t.terminalName,t.bak,t.status,c.companyName,t.companyCode,a.areaName areaName,a.areacode areacode,
    (select ps.primaryId from u_parts_status ps 
    where ps.terminalCode = t.terminalCode and ps.companyCode = t.companyCode and ps.areaCode = t.areaCode
   and ps.`status` = 1 ORDER BY ps.recordTime desc limit 0,1) psId,
     (select ps1.recordTime from u_parts_status ps1 where ps1.primaryId = psId ) lastonlinedate,
    (case when (now() - (select ps1.recordTime from u_parts_status ps1 where ps1.primaryId = psId ) &lt; #{terminalOnLine}) then 1 else 0 end) onlineStatus
    from u_terminal t 
    left join u_company c on t.companyCode = c.companyCode 
    left join u_area a on t.areaCode = a.areaCode and a.companyCode = t.companyCode
    <where>
	    <include refid="where_all" />
	</where>
		order by onlineStatus desc
	<include refid="limit_sql" />
  </select>
  
  <select id="findCount"  resultType="java.lang.Integer">
    select 
    count(id)
    from u_terminal t
    <where>
		<include refid="where_all" />
	</where>
  </select>
  
  <sql id="where_all">
        <if test="terminalCode != null and terminalCode !='' ">
			and t.terminalCode like CONCAT("%",#{terminalCode,jdbcType=VARCHAR},"%")
		</if>
		<if test="terminalName != null and terminalName !='' ">
			and t.terminalName like CONCAT("%",#{terminalName,jdbcType=VARCHAR},"%")
		</if>
		<if test="areaCode != null and areaCode !='' ">
			and t.areaCode like CONCAT("%",#{areaCode,jdbcType=VARCHAR},"%")
		</if>
		<if test="companyCode != null and companyCode !='' ">
			and t.companyCode = #{companyCode,jdbcType=VARCHAR} 
		</if>
		<if test="today != null and today !='' ">
			and DATE_FORMAT(now(),'%Y-%m-%d') = DATE_FORMAT(t.native_createDate,'%Y-%m-%d')
		</if>
		<if test="areaCodeList != null and areaCodeList !='' ">
			and t.areaCode in 
		   <foreach collection="areaCodeList" index="index" item="item" open="(" separator="," close=")">
                #{item}       
           </foreach>   
		</if>
 </sql>

	<sql id="limit_sql">
		<if test="page_sql != null and page_sql != ''">
			${page_sql}
		</if>
	</sql>

	<select id="list" resultType="com.qlhx.model.UTerminal">
		select * from u_terminal where 1 = 1
		<if test="areaCode != null and areaCode !='' ">
			and areaCode = #{areaCode,jdbcType=VARCHAR}
		</if>
		<if test="companyCode != null and companyCode !='' ">
			and companyCode = #{companyCode,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="failureSumByMonth" resultType="java.util.Map">
		select DATE_FORMAT(m.recordTime,'%Y-%m-%d') name ,count( case when m.status = 0 then m.id end)/count(m.id)*100 y  
		from u_parts_status m where 1=1
		<if test="companyCode != null">
			and m.companyCode = #{companyCode}
		</if>
		<if test="terminalCode != null">
			and m.terminalCode = #{terminalCode}
		</if>
		and DATE_FORMAT(m.recordTime,'%Y-%m') = #{yearMonth}
		GROUP BY DATE_FORMAT(m.recordTime,'%Y-%m-%d') 
		order by m.recordTime
	</select>
	
	<select id="failureSumByYear" resultType="java.util.Map">
		select DATE_FORMAT(m.recordTime,'%Y-%m') name ,count( case when m.status = 0 then m.id end)/count(m.id)*100 y  
		from u_parts_status m where 1=1
		<if test="companyCode != null">
			and m.companyCode = #{companyCode}
		</if>
		<if test="terminalCode != null">
			and m.terminalCode = #{terminalCode}
		</if>
		and DATE_FORMAT(m.recordTime,'%Y') = #{year}
		GROUP BY DATE_FORMAT(m.recordTime,'%Y-%m') 
		order by m.recordTime
	</select>
	
</mapper>