<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.UWxappidMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.UWxappid">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="publicName" jdbcType="VARCHAR" property="publicname" />
    <result column="publicId" jdbcType="VARCHAR" property="publicid" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="appsecret" jdbcType="VARCHAR" property="appsecret" />
    <result column="appkey" jdbcType="VARCHAR" property="appkey" />
    <result column="publicKey" jdbcType="VARCHAR" property="publickey" />
    <result column="isSendSms" jdbcType="SMALLINT" property="issendsms" />
    <result column="companyCode" jdbcType="VARCHAR" property="companycode" />
    <result column="areaCode" jdbcType="VARCHAR" property="areacode" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="bak" jdbcType="VARCHAR" property="bak" />
  </resultMap>
  <sql id="Base_Column_List">
    id, publicName, publicId, appid, appsecret, appkey, publicKey, isSendSms, companyCode, 
    areaCode, createDate, bak
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_wx_appid
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_wx_appid
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.UWxappid">
    insert into u_wx_appid (id, publicName, publicId, 
      appid, appsecret, appkey, 
      publicKey, isSendSms, companyCode, 
      areaCode, createDate, bak
      )
    values (#{id,jdbcType=INTEGER}, #{publicname,jdbcType=VARCHAR}, #{publicid,jdbcType=VARCHAR}, 
      #{appid,jdbcType=VARCHAR}, #{appsecret,jdbcType=VARCHAR}, #{appkey,jdbcType=VARCHAR}, 
      #{publickey,jdbcType=VARCHAR}, #{issendsms,jdbcType=SMALLINT}, #{companycode,jdbcType=VARCHAR}, 
      #{areacode,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{bak,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.UWxappid">
    insert into u_wx_appid
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="publicname != null">
        publicName,
      </if>
      <if test="publicid != null">
        publicId,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="appsecret != null">
        appsecret,
      </if>
      <if test="appkey != null">
        appkey,
      </if>
      <if test="publickey != null">
        publicKey,
      </if>
      <if test="issendsms != null">
        isSendSms,
      </if>
      <if test="companycode != null">
        companyCode,
      </if>
      <if test="areacode != null">
        areaCode,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="bak != null">
        bak,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="publicname != null">
        #{publicname,jdbcType=VARCHAR},
      </if>
      <if test="publicid != null">
        #{publicid,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null">
        #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="appkey != null">
        #{appkey,jdbcType=VARCHAR},
      </if>
      <if test="publickey != null">
        #{publickey,jdbcType=VARCHAR},
      </if>
      <if test="issendsms != null">
        #{issendsms,jdbcType=SMALLINT},
      </if>
      <if test="companycode != null">
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="bak != null">
        #{bak,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.UWxappid">
    update u_wx_appid
    <set>
      <if test="publicname != null">
        publicName = #{publicname,jdbcType=VARCHAR},
      </if>
      <if test="publicid != null">
        publicId = #{publicid,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null">
        appsecret = #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="appkey != null">
        appkey = #{appkey,jdbcType=VARCHAR},
      </if>
      <if test="publickey != null">
        publicKey = #{publickey,jdbcType=VARCHAR},
      </if>
      <if test="issendsms != null">
        isSendSms = #{issendsms,jdbcType=SMALLINT},
      </if>
      <if test="companycode != null">
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        areaCode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="bak != null">
        bak = #{bak,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.UWxappid">
    update u_wx_appid
    set publicName = #{publicname,jdbcType=VARCHAR},
      publicId = #{publicid,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      appsecret = #{appsecret,jdbcType=VARCHAR},
      appkey = #{appkey,jdbcType=VARCHAR},
      publicKey = #{publickey,jdbcType=VARCHAR},
      isSendSms = #{issendsms,jdbcType=SMALLINT},
      companyCode = #{companycode,jdbcType=VARCHAR},
      areaCode = #{areacode,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      bak = #{bak,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByAreaCode"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_wx_appid
    where areaCode = #{areaCode} limit 0,1
  </select>
  
  <select id="findAll"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_wx_appid
    <include refid="where_all" />
	<include refid="limit_sql" />
  </select>
  
  <select id="findCount" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM u_wx_appid
		<include refid="where_all" />
	</select>
	
	<sql id="where_all">
		<where>
			<if test="companyCode != null and companyCode !='' ">
				and companyCode = #{companyCode,jdbcType=VARCHAR}
			</if>
			
			<if test="areaCode != null and areaCode !='' ">
				and areaCode = #{areaCode,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
  
    <sql id="limit_sql">
		<if test="page_sql != null and page_sql != ''">
			${page_sql}
		</if>
	</sql>
</mapper>