<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.UWxuserMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.UWxuser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="syncid" jdbcType="INTEGER" property="syncid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="usex" jdbcType="INTEGER" property="usex" />
    <result column="utel" jdbcType="VARCHAR" property="utel" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="uploadtime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="tabTime" jdbcType="TIMESTAMP" property="tabtime" />
    <result column="pinYin" jdbcType="VARCHAR" property="pinyin" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="outid" jdbcType="VARCHAR" property="outid" />
    <result column="idnum" jdbcType="VARCHAR" property="idnum" />
    <result column="companyCode" jdbcType="VARCHAR" property="companycode" />
    <result column="areaCode" jdbcType="VARCHAR" property="areacode" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="inviterOpenid" jdbcType="VARCHAR" property="inviterOpenid" />
    <result column="job" property="job" jdbcType="VARCHAR"/>
    <result column="tip" property="tip" jdbcType="VARCHAR"/>
    <result column="company" property="company" jdbcType="VARCHAR"/>
    <result column="department" property="department" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, syncid, uname, usex, utel, openid, uploadtime, tabTime, pinYin, photo, outid, 
    idnum, companyCode, areaCode,uid,birthday,carNum,nation,address,uid,job,tip,company,department
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_wxuser
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_wxuser
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.UWxuser">
    insert into u_wxuser (id, syncid, uname, 
      usex, utel, openid, 
      uploadtime, tabTime, pinYin, 
      photo, outid, idnum, 
      companyCode, areaCode)
    values (#{id,jdbcType=INTEGER}, #{syncid,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, 
      #{usex,jdbcType=INTEGER}, #{utel,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{uploadtime,jdbcType=TIMESTAMP}, #{tabtime,jdbcType=TIMESTAMP}, #{pinyin,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{outid,jdbcType=VARCHAR}, #{idnum,jdbcType=VARCHAR}, 
      #{companycode,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.UWxuser">
    insert into u_wxuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="syncid != null">
        syncid,
      </if>
      <if test="uname != null">
        uname,
      </if>
      <if test="usex != null">
        usex,
      </if>
      <if test="utel != null">
        utel,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="uploadtime != null">
        uploadtime,
      </if>
      <if test="tabtime != null">
        tabTime,
      </if>
      <if test="pinyin != null">
        pinYin,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="outid != null">
        outid,
      </if>
      <if test="idnum != null">
        idnum,
      </if>
      <if test="companycode != null">
        companyCode,
      </if>
      <if test="areacode != null">
        areaCode,
      </if>
      <if test="uid != null">
        uid,
      </if>
       <if test="birthday != null and birthday!=''">
        birthday,
      </if>
       <if test="carNum != null">
        carNum,
      </if>
       <if test="nation != null">
        nation,
      </if>
       <if test="address != null">
        address,
      </if>
       <if test="job != null">
        job,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="syncid != null">
        #{syncid,jdbcType=INTEGER},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="usex != null">
        #{usex,jdbcType=INTEGER},
      </if>
      <if test="utel != null">
        #{utel,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tabtime != null">
        #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pinyin != null">
        #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="outid != null">
        #{outid,jdbcType=VARCHAR},
      </if>
      <if test="idnum != null">
        #{idnum,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null">
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="birthday != null and birthday!=''">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="carNum != null">
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.UWxuser">
    update u_wxuser
    <set>
      <if test="syncid != null">
        syncid = #{syncid,jdbcType=INTEGER},
      </if>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="usex != null">
        usex = #{usex,jdbcType=INTEGER},
      </if>
      <if test="utel != null">
        utel = #{utel,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        uploadtime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tabtime != null">
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pinyin != null">
        pinYin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="outid != null">
        outid = #{outid,jdbcType=VARCHAR},
      </if>
      <if test="idnum != null">
        idnum = #{idnum,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null">
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="areacode != null">
        areaCode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null and birthday!=''">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="carNum != null">
       carNum =  #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="nation != null">
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address =  #{address,jdbcType=VARCHAR},
      </if>
      <if test="tip != null">
        tip =  #{tip,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company =  #{company,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department =  #{department,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.UWxuser">
    update u_wxuser
    set syncid = #{syncid,jdbcType=INTEGER},
      uname = #{uname,jdbcType=VARCHAR},
      usex = #{usex,jdbcType=INTEGER},
      utel = #{utel,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      uploadtime = #{uploadtime,jdbcType=TIMESTAMP},
      tabTime = #{tabtime,jdbcType=TIMESTAMP},
      pinYin = #{pinyin,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      outid = #{outid,jdbcType=VARCHAR},
      idnum = #{idnum,jdbcType=VARCHAR},
      companyCode = #{companycode,jdbcType=VARCHAR},
      areaCode = #{areacode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="listByDownWxUserModel" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_wxuser
    where tabTime &gt; #{downTime} and areaCode =#{companyCode}
  </select>
  
  <select id="selectWxUserByParam"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_wxuser
    where openid = #{openid,jdbcType=INTEGER} 
     <if test="areacode != null">
       and areaCode = #{areacode,jdbcType=VARCHAR}
    </if>
    limit 0,1
  </select>
  
  <select id="selectWxUserByApplyDetail"  resultMap="BaseResultMap">
    select 
    u.*,d.inviterOpenid
    from u_wxuser u,u_preapplygoupdetail d
    where u.openid = d.openid and u.areaCode = d.areaCode 
    <if test="syncid != null">
       and d.syncid = #{syncid,jdbcType=VARCHAR}
    </if>
    <if test="areacode != null">
       and d.areaCode = #{areacode,jdbcType=VARCHAR}
    </if>
  </select>
  
   <select id="selectWxUserByUid"  resultMap="BaseResultMap">
    select  * from u_wxuser where 1=1 
    <if test="uid != null">
       and uid = #{uid}
    </if>
    <if test="areacode != null">
       and areaCode = #{areacode,jdbcType=VARCHAR}
    </if>
    limit 0,1
  </select>
  
  <update id="updateByOpenIdAndArea" parameterType="com.qlhx.model.UWxuser">
    update u_wxuser
    <set>
      <if test="syncid != null">
        syncid = #{syncid,jdbcType=INTEGER},
      </if>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="usex != null">
        usex = #{usex,jdbcType=INTEGER},
      </if>
      <if test="utel != null">
        utel = #{utel,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="uploadtime != null">
        uploadtime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tabtime != null">
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="pinyin != null">
        pinYin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="outid != null">
        outid = #{outid,jdbcType=VARCHAR},
      </if>
      <if test="idnum != null">
        idnum = #{idnum,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null">
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="areacode != null">
        areaCode = #{areacode,jdbcType=VARCHAR},
      </if>
    </set>
    where openid = #{openid,jdbcType=VARCHAR} and  areaCode = #{areacode,jdbcType=VARCHAR}
  </update>
  
  <select id="selectWxUserByTel"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_wxuser
    where utel = #{utel,jdbcType=INTEGER} and areaCode = #{areacode,jdbcType=VARCHAR}
    limit 0,1
  </select>
  
   <update id="updateWxuserUidtoNull" parameterType="com.qlhx.model.UWxuser">
    update u_wxuser
    set uid = null
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>