<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qlhx.dao.UWxuserPreapplygoupMapper">
  <resultMap id="BaseResultMap" type="com.qlhx.model.UWxuserPreapplygoup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="syncId" jdbcType="VARCHAR" property="syncid" />
    <result column="areaCode" jdbcType="VARCHAR" property="areacode" />
    <result column="openId" jdbcType="VARCHAR" property="openid" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, syncId, areaCode, openId, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_wxuser_preapplygoup
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from u_wxuser_preapplygoup
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.UWxuserPreapplygoup">
    insert into u_wxuser_preapplygoup (id, syncId, areaCode, 
      openId, createDate)
    values (#{id,jdbcType=INTEGER}, #{syncid,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.UWxuserPreapplygoup">
    insert into u_wxuser_preapplygoup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="syncid != null">
        syncId,
      </if>
      <if test="areacode != null">
        areaCode,
      </if>
      <if test="openid != null">
        openId,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="syncid != null">
        #{syncid,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.UWxuserPreapplygoup">
    update u_wxuser_preapplygoup
    <set>
      <if test="syncid != null">
        syncId = #{syncid,jdbcType=VARCHAR},
      </if>
      <if test="areacode != null">
        areaCode = #{areacode,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openId = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.UWxuserPreapplygoup">
    update u_wxuser_preapplygoup
    set syncId = #{syncid,jdbcType=VARCHAR},
      areaCode = #{areacode,jdbcType=VARCHAR},
      openId = #{openid,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByParam"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from u_wxuser_preapplygoup
    where syncId = #{syncid,jdbcType=VARCHAR}
      and areaCode = #{areacode,jdbcType=VARCHAR}
      and openId = #{openid,jdbcType=VARCHAR}
  </select>
</mapper>