<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qlhx.dao.WechatPreapplygoupMapper" >
  <resultMap id="BaseResultMap" type="com.qlhx.model.WechatPreapplygoup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="applyuserid" property="applyuserid" jdbcType="INTEGER" />
    <result column="applyopenid" property="applyopenid" jdbcType="VARCHAR" />
    <result column="companyCode" property="companycode" jdbcType="VARCHAR" />
    <result column="reson" property="reson" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="responsemsg" property="responsemsg" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="syncid" property="syncid" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="tabTime" property="tabtime" jdbcType="TIMESTAMP" />
    <result column="uploadTime" property="uploadtime" jdbcType="TIMESTAMP" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="isTeam" property="isteam" jdbcType="INTEGER" />
    <result column="jionpersonnum" property="jionpersonnum" jdbcType="INTEGER" />
    <result column="activitylogo" property="activitylogo" jdbcType="VARCHAR" />
    <result column="activityTitle" property="activitytitle" jdbcType="VARCHAR" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="organizer" property="organizer" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="isActive" property="isactive" jdbcType="INTEGER" />
    <result column="maxpersonnum" property="maxpersonnum" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="launchType" property="launchtype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, applyuserid, applyopenid, companyCode, reson, createtime, status, responsemsg, 
    uid, syncid, type, starttime, endtime, tabTime, uploadTime, unit, isTeam, jionpersonnum, 
    activitylogo, activityTitle, subtitle, address, organizer, content, isActive, maxpersonnum, 
    city, launchType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wechat_preapplygoup
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wechat_preapplygoup
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qlhx.model.WechatPreapplygoup" >
    insert into wechat_preapplygoup (id, applyuserid, applyopenid, 
      companyCode, reson, createtime, 
      status, responsemsg, uid, 
      syncid, type, starttime, 
      endtime, tabTime, uploadTime, 
      unit, isTeam, jionpersonnum, 
      activitylogo, activityTitle, subtitle, 
      address, organizer, content, 
      isActive, maxpersonnum, city, 
      launchType)
    values (#{id,jdbcType=INTEGER}, #{applyuserid,jdbcType=INTEGER}, #{applyopenid,jdbcType=VARCHAR}, 
      #{companycode,jdbcType=VARCHAR}, #{reson,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{responsemsg,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{syncid,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{tabtime,jdbcType=TIMESTAMP}, #{uploadtime,jdbcType=TIMESTAMP}, 
      #{unit,jdbcType=VARCHAR}, #{isteam,jdbcType=INTEGER}, #{jionpersonnum,jdbcType=INTEGER}, 
      #{activitylogo,jdbcType=VARCHAR}, #{activitytitle,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{organizer,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{isactive,jdbcType=INTEGER}, #{maxpersonnum,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, 
      #{launchtype,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qlhx.model.WechatPreapplygoup" >
    insert into wechat_preapplygoup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyuserid != null" >
        applyuserid,
      </if>
      <if test="applyopenid != null" >
        applyopenid,
      </if>
      <if test="companycode != null" >
        companyCode,
      </if>
      <if test="reson != null" >
        reson,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="responsemsg != null" >
        responsemsg,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="syncid != null" >
        syncid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="tabtime != null" >
        tabTime,
      </if>
      <if test="uploadtime != null" >
        uploadTime,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="isteam != null" >
        isTeam,
      </if>
      <if test="jionpersonnum != null" >
        jionpersonnum,
      </if>
      <if test="activitylogo != null" >
        activitylogo,
      </if>
      <if test="activitytitle != null" >
        activityTitle,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="organizer != null" >
        organizer,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="isactive != null" >
        isActive,
      </if>
      <if test="maxpersonnum != null" >
        maxpersonnum,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="launchtype != null" >
        launchType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="applyuserid != null" >
        #{applyuserid,jdbcType=INTEGER},
      </if>
      <if test="applyopenid != null" >
        #{applyopenid,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null" >
        #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="reson != null" >
        #{reson,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="responsemsg != null" >
        #{responsemsg,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="syncid != null" >
        #{syncid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tabtime != null" >
        #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null" >
        #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="isteam != null" >
        #{isteam,jdbcType=INTEGER},
      </if>
      <if test="jionpersonnum != null" >
        #{jionpersonnum,jdbcType=INTEGER},
      </if>
      <if test="activitylogo != null" >
        #{activitylogo,jdbcType=VARCHAR},
      </if>
      <if test="activitytitle != null" >
        #{activitytitle,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="organizer != null" >
        #{organizer,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null" >
        #{isactive,jdbcType=INTEGER},
      </if>
      <if test="maxpersonnum != null" >
        #{maxpersonnum,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="launchtype != null" >
        #{launchtype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qlhx.model.WechatPreapplygoup" >
    update wechat_preapplygoup
    <set >
      <if test="applyuserid != null" >
        applyuserid = #{applyuserid,jdbcType=INTEGER},
      </if>
      <if test="applyopenid != null" >
        applyopenid = #{applyopenid,jdbcType=VARCHAR},
      </if>
      <if test="companycode != null" >
        companyCode = #{companycode,jdbcType=VARCHAR},
      </if>
      <if test="reson != null" >
        reson = #{reson,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="responsemsg != null" >
        responsemsg = #{responsemsg,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="syncid != null" >
        syncid = #{syncid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="tabtime != null" >
        tabTime = #{tabtime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadtime != null" >
        uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="isteam != null" >
        isTeam = #{isteam,jdbcType=INTEGER},
      </if>
      <if test="jionpersonnum != null" >
        jionpersonnum = #{jionpersonnum,jdbcType=INTEGER},
      </if>
      <if test="activitylogo != null" >
        activitylogo = #{activitylogo,jdbcType=VARCHAR},
      </if>
      <if test="activitytitle != null" >
        activityTitle = #{activitytitle,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="organizer != null" >
        organizer = #{organizer,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="isactive != null" >
        isActive = #{isactive,jdbcType=INTEGER},
      </if>
      <if test="maxpersonnum != null" >
        maxpersonnum = #{maxpersonnum,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="launchtype != null" >
        launchType = #{launchtype,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qlhx.model.WechatPreapplygoup" >
    update wechat_preapplygoup
    set applyuserid = #{applyuserid,jdbcType=INTEGER},
      applyopenid = #{applyopenid,jdbcType=VARCHAR},
      companyCode = #{companycode,jdbcType=VARCHAR},
      reson = #{reson,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      responsemsg = #{responsemsg,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      syncid = #{syncid,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      tabTime = #{tabtime,jdbcType=TIMESTAMP},
      uploadTime = #{uploadtime,jdbcType=TIMESTAMP},
      unit = #{unit,jdbcType=VARCHAR},
      isTeam = #{isteam,jdbcType=INTEGER},
      jionpersonnum = #{jionpersonnum,jdbcType=INTEGER},
      activitylogo = #{activitylogo,jdbcType=VARCHAR},
      activityTitle = #{activitytitle,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      organizer = #{organizer,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      isActive = #{isactive,jdbcType=INTEGER},
      maxpersonnum = #{maxpersonnum,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      launchType = #{launchtype,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectBySyncId" resultType="com.qlhx.model.WechatPreapplygoup">
    select * from wechat_preapplygoup WHERE syncid =#{syncid} limit 1
  </select>
</mapper>